<div class="layout">
    <div class="py-30">
        <div class="flex flex-col md:flex-row gap-y-5  md:flex-wrap md:-mx-3 xl:-mx-6.625">

            {{ cta_button }}
            <div class="w-full md:w-1/2 md:px-3 xl:px-6.625 group">
                <a href="{{ link_to_tour }}"
                    class="bg-primary group-hover:bg-paleblue text-white p-8 xl:p-15 block transition duration-500 ease-in-out">
                    <div class="flex flex-col lg:flex-row gap-y-2.5 gap-x-15 md:items-center justify-between ">
                        <div
                            class="flex flex-col gap-y-2.5 group-hover:translate-x-2.5 transform transition duration-500 ease-in-out">
                            <div class="w-9/12">
                                <strong class="title-24">{{ title }}</strong>
                            </div>
                            <p class="text-sm leading-6">{{ subtext }}</p>
                        </div>
                        <div class="self-end lg:self-center">
                            <span
                                class="btn-icon group-hover:-translate-x-2.5 transform transition duration-500 ease-in-out">
                                <svg width="15" height="11" viewBox="0 0 15 11" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12.299 6.257L9.122 9.5l.98 1L15 5.5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z" />
                                </svg>
                            </span>
                        </div>
                    </div>
                </a>

            </div>
            {{ /cta_button }}


        </div>
    </div>
</div>