{{ general_content }}


{{ if type == "text" }}
<div class="layout py-20">
  <div class="flex flex-col lg:max-w-2xl lg:px-9 gap-y-5 m-auto generalText">

          {{ text }}
   
  </div>
</div>


{{ elseif type == "hero_banner" }}
{{ partial:components/heroBanner }}
{{ elseif type == "full_width_cta" }}
{{ partial:components/fullWidthCTA }}
{{ elseif type == "featured_tours" }}
{{ partial:components/featuredTours }}
{{ elseif type == "2_col_cta" }}
{{ partial:components/2ColCTA }}
{{ elseif type == "text_with_images" }}
{{ partial:components/textWImages }}
{{ elseif type == "banner_image" }}
{{ partial:components/largeImg }}
{{ elseif type == "small_banner" }}
{{ partial:components/smallBanner }}
{{ elseif type == "companiesWorkedWith" }}
{{ partial:components/companiesWorkedWith }}
{{ elseif type == "reviews" }}
{{ partial:components/reviews }}
{{ elseif type == "signature" }}
{{ partial:components/signature }}
{{ elseif type == "button" }}
{{ partial:components/button }}
{{ elseif type == "companies_worked_with" }}
{{ partial:components/companiesWorkedWith }}
{{ elseif type == "covid_banner" }}
{{ partial:components/covidBanner }}

{{ /if }}

{{ /general_content }}