<div id="book" data-csrf-token="{{ csrf_token }}" class="booking-modal">
  <div class="relative py-12.5 px-10 w-full h-full overflow-y-auto" v-bind:class="{ 'bg-primary' : step == 5 }" >

    <!--CLOSE BUTTON-->
    <div class="absolute top-0 right-0">
      <button
        class="btn-icon"
        @click="closeForm()"
      >
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill="#fff" d="M4.404 5.464l1.06-1.06 8.132 8.131-1.06 1.061z" />
          <path fill="#fff" d="M4.404 12.536l8.132-8.132 1.06 1.061-8.13 8.132z" />
        </svg>
      </button>
    </div>

    <loading v-if="isLoading"></loading>

    <start :tours="tours" :enquire="enquire" @selectTour="selectTour($event)" @enquireTour="enquireTour($event)"  v-if="step == 1"></start>
    <tour @selected="setSelected($event)" @goBack="backStep" :title="selected.title" :tour_id="selected.tour_id" :price="price" v-if="step == 2"></tour>
    <pay @setIsLoading="setIsLoading($event)" @submitBooking="submitBooking($event)" :price="selected.cost" :title="selected.title" :people="selected.people" :error="bookingError" v-if="step === 3"></pay>
    <contact @enquire="sendEnquiry($event)" @goBack="backStep" :title="selected.title" v-if="step === 4"></contact>
    <thanks :type="type" v-if="step === 5"></thanks>

  </div>
</div>
