<div class="flex flex-col gap-y-12 items-center my-2">
    <a href="{{ button_link }}" class="group btn overflow-hidden">
        <svg class="absolute -left-5 opacity-0 group-hover:opacity-100 group-hover:translate-x-9" width="15" height="10"
            viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.299 5.757L9.122 9l.98 1L15 5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z" />
        </svg>
        <span class="group-hover:translate-x-6">{{ button_text }}</span>
        <svg class="group-hover:opacity-0 group-hover:translate-x-5" width="15" height="10" viewBox="0 0 15 10"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.299 5.757L9.122 9l.98 1L15 5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z" />
        </svg>
    </a>
</div>