<div class="bg-palegrey">
    <div class="layout py-20">


        <h2 class="title-18 text-center w-full">Companies I've Worked With</h2>


        <div class="mt-10 flex flex-wrap justify-between gap-x-0 md:gap-x-10 lg:gap-x-15 mix-blend-multiply">

            {{ nav:collection:companies_worked_with }}
            <div class="company-logo">
                <img class="" src="{{ company_logo }}">
            </div>
            {{ /nav:collection:companies_worked_with }}

        </div>

    </div>
</div>