<div class="bg-paleorange py-15">
  <div class="layout">
      <div class="m-auto">
          <div class="flex flex-col justify-center items-center text-center gap-y-2.5 text-primary ">
              <h1 class="title-24">covid-19 safety measures</h1>
              <p class="text-sm leading-8">See what measures we have taken to ensure your safety</p>

              <a href="/covid-19-safety-measures" class="group btn mt-2 overflow-hidden">
                  <svg class="absolute -left-5 opacity-0 group-hover:opacity-100 group-hover:translate-x-9"
                      width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.299 5.757L9.122 9l.98 1L15 5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z" />
                  </svg>
                  <span class="group-hover:translate-x-6">find out more</span>
                  <svg class="group-hover:opacity-0 group-hover:translate-x-5" width="15" height="10"
                      viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.299 5.757L9.122 9l.98 1L15 5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z" />
                  </svg>
              </a>
          </div>
      </div>
  </div>
</div>