
<div class="layout">

    <div class="pt-20">
      <div class="flex flex-col md:flex-row md:flex-wrap gap-y-10 md:gap-y-20 md:-mx-3 xl:-mx-6.625">
        
        {{ select_featured_tours }}
        <div class="w-full md:w-1/2 lg:w-1/3 md:px-3 xl:px-6.625 group ">
          <div class="flex flex-col">
            <a href="{{ url }}" class="overflow-hidden w-full h-full">
              <img class="group-hover:scale-125 w-full transition-all duration-500 ease-in-out transform object-cover" src="{{ glide:featured_image width="400" height="440" }}">
            </a>
            <a href="{{ url }}"
              class="title-24 group-hover:text-secondary transition-all duration-500 ease-in-out transform my-4 ">{{ title }}</a>
  
            <ul class="flex flex-wrap gap-x-1.25 gap-y-1.25">
  
              {{ if time }}
              <li
                class="label">
                <img src="assets/placeholders/icons/time.svg">
                {{ time }}
              </li>
              {{ /if }}
  
              {{ if miles }}
              <li class="label">
                <img src="assets/placeholders/icons/miles.svg">
                {{ miles }}
              </li>
              {{ /if }}
  
  
              {{ if is_family_friendly }}
              <li class="label">
                <img src="assets/placeholders/icons/family-friendly.svg">
                family friendly
              </li>
              {{ /if }}
  
  
              {{ if is_pram_and_wheelchair_friendly }}
              <li class="label">
                <img src="assets/placeholders/icons/pram-wheelchairs.svg">
                pram & wheelchair friendly
              </li>
              {{ /if }}
  
              {{ if is_adults_only }}
              <li class="label">
                <img src="assets/placeholders/icons/adults.svg">
                Adults only
              </li>
              {{ /if }}
  
  
            </ul>
  
          </div>
        </div>
        {{ /select_featured_tours }}
  
        
        
      </div>
    </div>
  
  </div>
  
  