<footer>
    <div class="bg-primary py-15 flex flex-col justify-center  gap-y-7.5 ">

        <svg class="m-auto" width="150" height="120" viewBox="0 0 150 120" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M22.846 23.536L126.98 5.843v9.82l5.166-.87V0L17.68 19.434v14.793l5.166-.912v-9.78zM126.981 81.298l-44.642 7.541-16.143 18.274V91.616l-43.35 7.334V69.447l-5.166.912v34.434l43.35-7.335V120l23.462-26.52 47.655-8.121V50.925l-5.166.87v29.503z"
                fill="#FF612A" />
            <path
                d="M12.9 54.986c-.602 1.367-1.764 2.279-3.142 2.527-2.11.373-3.4-1.077-3.4-3.605s1.29-4.392 3.4-4.765c1.378-.249 2.583.29 3.143 1.45l6.543-1.119c-.818-4.35-4.348-6.754-9.6-5.884C3.774 44.668.072 49.31.072 54.985c0 5.677 3.702 9.075 9.815 8.04 5.252-.871 8.782-4.517 9.6-9.158l-6.586 1.119zM31.068 39.904c-5.64.953-10.203 5.76-10.203 11.52 0 5.718 4.607 9.033 10.203 8.08 5.596-.953 10.16-5.801 10.16-11.52 0-5.76-4.478-9.033-10.16-8.08zm0 14.006c-2.54.414-3.875-1.036-3.875-3.564 0-2.569 1.335-4.475 3.875-4.93 2.497-.415 3.874.994 3.874 3.604 0 2.528-1.377 4.475-3.874 4.89zM62.192 54.034V34.932l-6.2 1.077v9.737l-6.586-8.618-6.199 1.036v19.06l6.2-1.036v-9.571l6.586 8.453 6.199-1.036zM78.076 32.239l-4.09 13.84-4.089-12.432-6.587 1.12 6.673 17.941 8.007-1.367 6.673-20.221-6.587 1.119zM99 43.012l-7.018 1.201V41.52l6.156-1.077v-4.476l-6.156 1.036v-2.361L99 33.482v-4.766l-13.216 2.238v19.06L99 47.777v-4.765zM117.856 44.585l-4.305-6.588c2.841-1.368 4.262-3.73 4.262-6.257 0-3.522-2.54-5.801-7.534-4.973l-9.256 1.575v19.06l6.199-1.035V39.53h.044l3.702 6.215 6.888-1.16zm-10.59-9.033V32.32l2.453-.415c1.163-.207 1.808.332 1.808 1.326 0 1.12-.602 1.74-1.808 1.907l-2.453.414zM125.645 29.503c0-.663.388-1.036.904-1.12.689-.123 1.335.125 1.378 1.285l6.673-1.118c-.173-3.937-3.229-5.636-8.051-4.807-4.218.704-7.576 3.273-7.576 7.086-.129 6.547 9.255 4.019 9.255 6.588 0 .663-.602 1.036-1.205 1.16-.603.125-1.378 0-1.507-1.367l-6.586 1.119c.258 4.226 3.831 5.635 8.351 4.89 4.779-.83 7.577-3.855 7.577-7.377-.043-5.925-9.213-3.977-9.213-6.34zM149.927 24.82v-4.765l-13.173 2.238v19.06l13.173-2.237v-4.765l-6.974 1.202v-2.694l6.156-1.036v-4.516l-6.156 1.036v-2.32l6.974-1.202zM47.684 79.931V68.91l4.047-.704v-3.646l-12.829 2.196V70.4l4.004-.704v11.022l4.778-.787zM60.212 77.942c4.305-.745 7.835-4.475 7.835-8.867 0-4.434-3.487-6.92-7.835-6.216-4.348.746-7.878 4.434-7.878 8.868.043 4.434 3.573 6.961 7.878 6.215zm0-10.815c1.937-.331 2.97.788 2.97 2.777 0 1.947-1.076 3.439-2.97 3.77-1.98.332-3.014-.787-3.014-2.734.044-2.03 1.077-3.481 3.014-3.813zM69.469 61.575v8.287c0 4.35 2.798 6.091 6.63 5.428 3.83-.663 6.887-3.398 6.887-7.707v-8.287l-4.778.787v8.287c0 1.285-.603 2.28-2.024 2.528-1.463.249-1.98-.58-1.98-1.865v-8.287l-4.735.829zM97.706 61.574c0-2.693-1.98-4.475-5.812-3.812l-7.103 1.202v14.668l4.778-.828V67.54l2.885 4.765 5.252-.911-3.315-5.055c2.195-.995 3.315-2.86 3.315-4.766zm-6.242 2.57l-1.895.33V61.99l1.895-.332c.904-.166 1.377.249 1.377.995 0 .911-.473 1.367-1.377 1.491zM104.767 66.795c-.473.083-1.076 0-1.162-1.078l-5.08.87c.216 3.274 2.971 4.352 6.458 3.771 3.702-.621 5.811-2.983 5.811-5.676 0-4.517-7.103-2.984-7.103-4.849 0-.497.302-.787.689-.87.517-.083.99.083 1.076.995l5.166-.87c-.129-3.025-2.497-4.31-6.199-3.688-3.272.538-5.855 2.527-5.855 5.47-.086 5.013 7.104 3.066 7.147 5.055 0 .497-.474.787-.948.87z"
                fill="#fff" />
        </svg>
        <ul class="footerNav flex flex-row justify-center gap-x-7.5 ">
            <li><a href="/">Home</a></li>
            {{ nav:main_nav include_home="true"}}
            <li><a href="{{ url }}">{{ title }}</a></li>
            {{ /nav:main_nav }}
        </ul>

        <div class="flex justify-center items-center gap-x-5 text-center">

            <!--INSTA-->
            {{ if company_details:instagram }}
            <a href="{{ company_details:instagram_link }}">
                <svg class="transition duration-500 ease-in-out text-white opacity-25 fill-current hover:opacity-100 w-6"
                    viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M18 0H6C2.7 0 0 2.7 0 6v12c0 3.3 2.7 6 6 6h12c3.3 0 6-2.7 6-6V6c0-3.3-2.7-6-6-6zm-6 17a5 5 0 110-10 5 5 0 010 10zm6.5-10a1.5 1.5 0 110-3 1.5 1.5 0 010 3z" />
                </svg>
            </a>
            {{ /if }}
            <!--FB-->
            {{ if company_details:facebook }}
            <a href="{{ company_details:facebook_link }}">
                <svg class="transition duration-500 ease-in-out text-white opacity-25 fill-current hover:opacity-100 w-6"
                    viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20.484 0H3.516A3.52 3.52 0 000 3.516v16.968A3.52 3.52 0 003.516 24h7.078v-8.484H7.78v-4.22h2.813V8.439a4.223 4.223 0 014.219-4.22h4.265v4.22h-4.265v2.859h4.265l-.703 4.219h-3.563V24h5.672A3.52 3.52 0 0024 20.484V3.516A3.52 3.52 0 0020.484 0z" />
                </svg>
            </a>
            {{ /if }}
            <!--Twitter-->
            {{ if company_details:twitter }}
            <a href="{{ company_details:twitter_link }}">
                <svg class="transition duration-500 ease-in-out text-white opacity-25 fill-current hover:opacity-100 w-6"
                    viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M24 2.544c-.9.39-1.83.66-2.82.78a4.8 4.8 0 002.16-2.73c-.96.57-2.01.96-3.12 1.2a4.923 4.923 0 00-8.52 3.36c0 .39.03.75.12 1.11-4.08-.18-7.68-2.16-10.11-5.13-1.74 3.12.21 5.7 1.5 6.57-.78 0-1.56-.24-2.22-.6 0 2.43 1.71 4.44 3.93 4.89-.48.15-1.56.24-2.22.09.63 1.95 2.46 3.39 4.59 3.42-1.68 1.32-4.14 2.37-7.29 2.04 2.19 1.41 4.77 2.22 7.56 2.22 9.06 0 13.98-7.5 13.98-13.98 0-.21 0-.42-.03-.63 1.02-.75 1.86-1.62 2.49-2.61z" />
                </svg>
            </a>
            {{ /if }}
            <!--Trust Pilot-->
            {{ if company_details:trust_pilot }}
            <a href="{{ company_details:trust_pilot_link }}">
                <svg class="transition duration-500 ease-in-out text-white opacity-25 fill-current hover:opacity-100 w-6"  viewBox="0 0 799.89 761" xmlns="http://www.w3.org/2000/svg" ><path d="M799.89 290.83H494.44L400.09 0l-94.64 290.83L0 290.54l247.37 179.92L152.72 761l247.37-179.63L647.16 761l-94.35-290.54z" fill="#fff"/><path d="M574.04 536.24l-21.23-65.78-152.72 110.91z" fill="#005128"/></svg>
            </a>
            {{ /if }}
            <!--Trip Advisor-->
            {{ if company_details:trip_advisor }}
            <a href="{{ company_details:trip_advisor_link }}">
                <svg class="transition duration-500 ease-in-out text-white opacity-25 fill-current hover:opacity-100 w-8"
                    version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="98.566px" height="98.566px"
                    viewBox="0 0 98.566 98.566" style="enable-background:new 0 0 98.566 98.566;" xml:space="preserve">

                    <path
                        d="M60.401,20.996c2.751,0.389,5.445,1.08,8.107,1.898c4.647,1.431,9.032,3.419,13.156,5.998
			c0.287,0.178,0.67,0.291,1.008,0.291c4.844,0.02,9.686,0.013,14.526,0.017c0.39,0,0.778,0.041,1.167,0.063
			c0,0.095,0.014,0.135-0.002,0.157c-0.226,0.348-0.455,0.691-0.682,1.038c-1.643,2.52-3.047,5.156-3.876,8.07
			c-0.09,0.313-0.109,0.575,0.103,0.882c4.312,6.192,5.688,12.99,3.886,20.318c-1.58,6.427-5.264,11.438-10.862,14.986
			c-4.001,2.537-8.421,3.745-13.143,3.771c-1.984,0.012-3.958-0.255-5.896-0.757c-4.722-1.225-8.77-3.579-12.106-7.144
			c-0.44-0.468-0.854-0.957-1.323-1.486c-1.764,2.629-3.5,5.215-5.278,7.869c-1.771-2.646-3.483-5.207-5.191-7.758
			c-0.118,0.062-0.152,0.069-0.175,0.091c-0.039,0.032-0.072,0.071-0.103,0.108c-4.035,4.765-9.111,7.686-15.295,8.663
			c-3.44,0.545-6.847,0.349-10.188-0.572c-4.735-1.301-8.759-3.799-12.01-7.485c-3.177-3.604-5.153-7.788-5.895-12.545
			c-0.849-4.44,0.185-8.721,0.443-9.76c0.748-3.02,2.052-5.793,3.842-8.343c0.126-0.181,0.17-0.501,0.11-0.717
			c-0.73-2.677-1.988-5.112-3.461-7.444c-0.374-0.593-0.822-1.142-1.236-1.711c0-0.065,0-0.132,0-0.198
			c0.083,0.01,0.165,0.026,0.246,0.026c4.956,0.002,9.911,0.004,14.867-0.006c0.216,0,0.456-0.089,0.64-0.207
			c3.482-2.234,7.192-4.004,11.09-5.382c2.811-0.992,5.681-1.766,8.608-2.333c2.834-0.548,5.683-0.934,8.562-1.124
			C51.059,19.73,56.669,20.473,60.401,20.996z M54.188,53.727c0,10.883,8.83,19.774,19.674,19.732
			c10.885-0.039,19.675-8.68,19.667-19.683c-0.008-11.339-9.206-19.863-20.089-19.642C62.696,34.357,54.286,43.017,54.188,53.727z
			 M24.677,34.059C14.091,33.967,4.861,42.802,5.046,54.056c0.172,10.495,8.822,19.392,19.851,19.297
			c10.784-0.092,19.452-8.898,19.472-19.562C44.386,42.835,35.612,34.059,24.677,34.059z M25.653,28.925
			c5.98,0.365,11.233,2.449,15.671,6.485c4.429,4.028,7.024,9.053,7.967,14.962c0.97-5.839,3.497-10.817,7.843-14.805
			c4.353-3.992,9.536-6.087,15.418-6.53c-6.98-3.103-14.34-4.421-21.916-4.567C42.026,24.301,33.651,25.57,25.653,28.925z" />
                    <path d="M73.822,41.311c6.735-0.011,12.19,5.415,12.19,12.143c0,6.754-5.362,11.975-11.688,12.216
			c-7.065,0.271-12.718-5.358-12.716-12.186C61.614,46.578,67.307,41.197,73.822,41.311z M81.766,53.484
			c-0.003-4.39-3.552-7.958-7.912-7.958c-4.41,0-8,3.549-8.018,7.926c-0.016,4.358,3.592,7.984,7.961,7.996
			C78.173,61.465,81.768,57.866,81.766,53.484z" />
                    <path d="M24.417,41.311c6.731-0.007,12.194,5.429,12.177,12.156c-0.019,6.809-5.386,11.916-11.601,12.199
			c-7.093,0.324-12.816-5.33-12.803-12.195C12.204,46.516,17.936,41.195,24.417,41.311z M32.352,53.457
			c-0.013-4.417-3.585-7.938-8.044-7.93c-4.301,0.008-7.905,3.638-7.895,7.955c0.011,4.367,3.611,7.958,7.992,7.97
			C28.759,61.462,32.363,57.836,32.352,53.457z" />
                    <path d="M73.828,49.443c2.232-0.002,4.062,1.829,4.041,4.048c-0.022,2.224-1.821,4.026-4.016,4.027
			c-2.26,0-4.077-1.786-4.072-3.999C69.785,51.223,71.55,49.445,73.828,49.443z" />
                    <path d="M24.396,49.407c2.266-0.002,4.087,1.808,4.096,4.067c0.009,2.24-1.829,4.079-4.084,4.084
			c-2.309,0.005-4.09-1.779-4.088-4.1C20.32,51.179,22.097,49.41,24.396,49.407z" />


                </svg>
            </a>
            {{ /if }}
        </div>

        <div class="flex justify-center">
            <span class="opacity-40 text-xs leading-none text-white text-center">© {{ now format="Y" }} Converse Tours
                NI. All rights reserved
                | </span>
            <span class="opacity-40 text-xs leading-none text-white text-center">
                Website by <a href="https://www.reflex-studios.com/" class="underline hover:text-pink-300">Reflex Studios</a>
            </span>
        </div>


    </div>

</footer>