<div class="bg-paleorange">
  <div class="layout">
    <div
      class="flex flex-col gap-y-10 sm:flex-row justify-center items-start p-8 md:px-4 py-20 md:gap-10 xl:gap-15 2xl:p-15 2xl:gap-x-25 flex-wrap lg:flex-nowrap">

      {{ skills }}
      <div class="flex w-full sm:w-[47%] lg:w-auto flex-col justify-center items-center gap-y-2.5 text-center">
        <img src="{{ image }}" alt="">
        <strong class="title-18">{{ title }}</strong>
        <p class="text-sm leading-none">{{ subtext }}</p>
      </div>
      {{ /skills }}
      
    </div>
  </div>
</div>