<div class="bg-primary relative w-full -mt-40 overflow-hidden bg-no-repeat bg-right-top xl:h-[100vh]">

    <div class=" w-full lg:w-[57%]  h-full  flex lg:absolute lg:top-0 lg:right-0 bg-cover bg-no-repeat" style="background-image:url({{ glide:hero_banner_image width="1000" height="1000"  }});">
        <div class="absolute w-full h-50 bg-gradient-to-b from-primary to-transparent top-0 z-10"></div>

        <div class="relative h-[60vh] md:h-[80vh] lg:h-auto  flex" >


        </div>
    </div>

    {{ if include_featured_reviews }}
    <div class="block my-0 m-auto absolute h-fit z-10 top-[60vh] lg:top-auto lg:bottom-20  right-0 w-86.75 bg-primary">

        <div class="review-slider">
            {{ nav:collection:reviews }}
            {{ type_of_tour }}
            {{ if value == "Featured" }}
            <div>
                <div class="flex flex-start items-start gap-x-3.5  p-6 w-full">
                    <svg class="w-7 flex-shrink-0 text-white full-current" width="28" height="20" viewBox="0 0 28 20"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity=".2"
                            d="M6.76 20c-1.577 0-2.873-.34-3.887-1.023a6.658 6.658 0 01-2.197-2.784A9.772 9.772 0 010 12.557c0-1.894.413-3.674 1.24-5.341.863-1.705 1.934-3.182 3.21-4.432C5.729 1.496 7.062.568 8.45 0l4.395 3.125a18.042 18.042 0 00-4.282 2.67c-1.277 1.061-2.216 2.197-2.817 3.41l.282.227c.226-.19.488-.322.789-.398.338-.076.77-.114 1.296-.114.75 0 1.502.19 2.253.569.789.34 1.427.89 1.916 1.647.525.758.788 1.705.788 2.841 0 2.046-.657 3.56-1.971 4.546A6.918 6.918 0 016.76 20zm14.93 0c-1.577 0-2.873-.34-3.887-1.023a6.658 6.658 0 01-2.197-2.784 9.772 9.772 0 01-.676-3.636c0-1.894.413-3.674 1.239-5.341.864-1.705 1.934-3.182 3.211-4.432 1.277-1.288 2.61-2.216 4-2.784l4.395 3.125a18.04 18.04 0 00-4.282 2.67c-1.277 1.061-2.216 2.197-2.817 3.41l.282.227c.225-.19.488-.322.789-.398.337-.076.77-.114 1.295-.114.751 0 1.503.19 2.254.569.788.34 1.427.89 1.915 1.647.526.758.789 1.705.789 2.841 0 2.046-.657 3.56-1.972 4.546A6.918 6.918 0 0121.69 20z"
                            fill="#fff" />
                    </svg>
                    <span class="text-sm text-white leading-none">
                        {{ review }}
                        <span class="flex flex-start items-center gap-x-1.25 mt-2">
                            <img src="{{ country_flag }}">
                            <span class="label">{{ title }}</span>
                        </span>
                    </span>
                </div>
            </div>
            {{ /if }}
            {{ /type_of_tour }}
            {{ /nav:collection:reviews }}
            
            
        </div>
    </div>
    {{ /if }}

    <div class="
    xl:max-w-screen-xl 
    h-full
    flex
    items-center
    m-auto 
    relative 
    z-10 
    lg:pl-20 
    bg-primary 
    lg:bg-transparent ">
        <div class="text-white w-full m-auto pb-30 pt-30 lg:pt-50  px-10  md:m-0 lg:w-146.5 ">

            <h1 class="title-112">{{ main_title }}</h1>
            <p class="mt-5">{{ subtext }}</p>


            <div class="flex justify-start items-center gap-x-5 mt-10">
                <div class="w-22.5">
                    <img class="object-fill w-full h-full" src="{{ bottom_logo }}">
                </div>
                <a href="/tours" class="group btn overflow-hidden">
                    <svg class="absolute -left-5 opacity-0 group-hover:opacity-100 group-hover:translate-x-9" width="15"
                        height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.299 5.757L9.122 9l.98 1L15 5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z" />
                    </svg>
                    <span class="group-hover:translate-x-6">Book a tour</span>
                    <svg class="group-hover:opacity-0 group-hover:translate-x-5" width="15" height="10"
                        viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.299 5.757L9.122 9l.98 1L15 5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z" />
                    </svg>
                </a>
            </div>

        </div>
    </div>




</div>