<div class="w-full relative">
  <div>
    
      <div class="w-full h-[30vh] md:h-160 3xl:h-175.5 bg-cover " 
      style="background-image: url({{ glide:banner_image width='1500' height='1000' }}">
      </div>
  </div>
</div>
