<header class="w-full z-20 absolute bg-transparent">

    <div class="xl:m-auto">
        <div class="px-7.5 pt-7.5 flex items-start justify-between lg:gap-x-7.5">

            <!--LOGO BLOCK CONTAINER-->
            <div class="flex justify-start items-start">
                <a href="/">
                    <svg class="logo m-auto w-25 md:w-36" viewBox="0 0 150 120" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M22.846 23.536L126.98 5.843v9.82l5.166-.87V0L17.68 19.434v14.793l5.166-.912v-9.78zM126.981 81.298l-44.642 7.541-16.143 18.274V91.616l-43.35 7.334V69.447l-5.166.912v34.434l43.35-7.335V120l23.462-26.52 47.655-8.121V50.925l-5.166.87v29.503z"
                            fill="#FF612A" />
                        <path class="{{if collection == "tours"}} text-primary {{else}} text-white {{ /if }} fill-current logo-swap"
                            d="M12.9 54.986c-.602 1.367-1.764 2.279-3.142 2.527-2.11.373-3.4-1.077-3.4-3.605s1.29-4.392 3.4-4.765c1.378-.249 2.583.29 3.143 1.45l6.543-1.119c-.818-4.35-4.348-6.754-9.6-5.884C3.774 44.668.072 49.31.072 54.985c0 5.677 3.702 9.075 9.815 8.04 5.252-.871 8.782-4.517 9.6-9.158l-6.586 1.119zM31.068 39.904c-5.64.953-10.203 5.76-10.203 11.52 0 5.718 4.607 9.033 10.203 8.08 5.596-.953 10.16-5.801 10.16-11.52 0-5.76-4.478-9.033-10.16-8.08zm0 14.006c-2.54.414-3.875-1.036-3.875-3.564 0-2.569 1.335-4.475 3.875-4.93 2.497-.415 3.874.994 3.874 3.604 0 2.528-1.377 4.475-3.874 4.89zM62.192 54.034V34.932l-6.2 1.077v9.737l-6.586-8.618-6.199 1.036v19.06l6.2-1.036v-9.571l6.586 8.453 6.199-1.036zM78.076 32.239l-4.09 13.84-4.089-12.432-6.587 1.12 6.673 17.941 8.007-1.367 6.673-20.221-6.587 1.119zM99 43.012l-7.018 1.201V41.52l6.156-1.077v-4.476l-6.156 1.036v-2.361L99 33.482v-4.766l-13.216 2.238v19.06L99 47.777v-4.765zM117.856 44.585l-4.305-6.588c2.841-1.368 4.262-3.73 4.262-6.257 0-3.522-2.54-5.801-7.534-4.973l-9.256 1.575v19.06l6.199-1.035V39.53h.044l3.702 6.215 6.888-1.16zm-10.59-9.033V32.32l2.453-.415c1.163-.207 1.808.332 1.808 1.326 0 1.12-.602 1.74-1.808 1.907l-2.453.414zM125.645 29.503c0-.663.388-1.036.904-1.12.689-.123 1.335.125 1.378 1.285l6.673-1.118c-.173-3.937-3.229-5.636-8.051-4.807-4.218.704-7.576 3.273-7.576 7.086-.129 6.547 9.255 4.019 9.255 6.588 0 .663-.602 1.036-1.205 1.16-.603.125-1.378 0-1.507-1.367l-6.586 1.119c.258 4.226 3.831 5.635 8.351 4.89 4.779-.83 7.577-3.855 7.577-7.377-.043-5.925-9.213-3.977-9.213-6.34zM149.927 24.82v-4.765l-13.173 2.238v19.06l13.173-2.237v-4.765l-6.974 1.202v-2.694l6.156-1.036v-4.516l-6.156 1.036v-2.32l6.974-1.202zM47.684 79.931V68.91l4.047-.704v-3.646l-12.829 2.196V70.4l4.004-.704v11.022l4.778-.787zM60.212 77.942c4.305-.745 7.835-4.475 7.835-8.867 0-4.434-3.487-6.92-7.835-6.216-4.348.746-7.878 4.434-7.878 8.868.043 4.434 3.573 6.961 7.878 6.215zm0-10.815c1.937-.331 2.97.788 2.97 2.777 0 1.947-1.076 3.439-2.97 3.77-1.98.332-3.014-.787-3.014-2.734.044-2.03 1.077-3.481 3.014-3.813zM69.469 61.575v8.287c0 4.35 2.798 6.091 6.63 5.428 3.83-.663 6.887-3.398 6.887-7.707v-8.287l-4.778.787v8.287c0 1.285-.603 2.28-2.024 2.528-1.463.249-1.98-.58-1.98-1.865v-8.287l-4.735.829zM97.706 61.574c0-2.693-1.98-4.475-5.812-3.812l-7.103 1.202v14.668l4.778-.828V67.54l2.885 4.765 5.252-.911-3.315-5.055c2.195-.995 3.315-2.86 3.315-4.766zm-6.242 2.57l-1.895.33V61.99l1.895-.332c.904-.166 1.377.249 1.377.995 0 .911-.473 1.367-1.377 1.491zM104.767 66.795c-.473.083-1.076 0-1.162-1.078l-5.08.87c.216 3.274 2.971 4.352 6.458 3.771 3.702-.621 5.811-2.983 5.811-5.676 0-4.517-7.103-2.984-7.103-4.849 0-.497.302-.787.689-.87.517-.083.99.083 1.076.995l5.166-.87c-.129-3.025-2.497-4.31-6.199-3.688-3.272.538-5.855 2.527-5.855 5.47-.086 5.013 7.104 3.066 7.147 5.055 0 .497-.474.787-.948.87z" />
                    </svg>
                </a>
            </div>

            <nav class="mainNav flex flex-grow justify-end h-14 items-center  {{if collection == "tours"}} text-primary {{else}}text-white {{ /if }}" >

                <ul class="hidden lg:flex gap-x-7.5">
                    {{ nav:main_nav include_home="false"}}
                    <li>
                        {{ if current_uri == url }}
                            <a href="{{ url }}" class="active-page">{{ title }}</a>
                        {{ else }}
                            <a href="{{ url }}">{{ title }}</a>
                        {{ /if }}
                    </li>
                    {{ /nav:main_nav }}
                </ul>

            </nav>

            <!--HAMBURGER-->
            <div class="cursor-pointer lg:hidden text-right z-40" id="dropdown-icon">


                <button x-on:click.prevent="isMobileNavOpen = !isMobileNavOpen"
                    class="bg-secondary text-primary z-20 inline-flex items-center justify-center p-2 transition duration-300 ease-in-out w-12.5 h-12.5"
                    x-bind:aria-label="isMobileNavOpen ? 'Close main menu' : 'Main menu'" aria-label="Main menu"
                    x-bind:aria-expanded="isMobileNavOpen" @click="isShowing = !isMobileNavOpen"
                    :class="{ 'activeMobileNav': isMobileNavOpen }">

                    <svg class="open" width="16" height="14" viewBox="0 0 16 14" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h16v2H0V0zm0 6h16v2H0V6zm16 6H0v2h16v-2z"
                            fill="#fff" />
                    </svg>

                    <svg class="close" width="14" height="14" viewBox="0 0 14 14" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M.636 11.95L11.949.637l1.415 1.414L2.05 13.365.636 11.95z" fill="#fff" />
                        <path d="M11.95 13.365L.635 2.05 2.05.637 13.364 11.95l-1.415 1.415z" fill="#fff" />
                    </svg>


                </button>




            </div>

            <!--BUTTON-->

            <div class="hidden lg:block">
                <button
                    class="group btn overflow-hidden"
                    @click="if(isBookingOpen === true) { isBookingOpen = false; } window.book.isLoaded = true; window.book.step = 1; isBookingOpen = true;"
                >
                    <svg class="absolute -left-5 opacity-0 group-hover:opacity-100 group-hover:translate-x-9" width="15"
                        height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.299 5.757L9.122 9l.98 1L15 5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z" />
                    </svg>
                    <span class="group-hover:translate-x-6">Book a tour</span>
                    <svg class="group-hover:opacity-0 group-hover:translate-x-5" width="15" height="10"
                        viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.299 5.757L9.122 9l.98 1L15 5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="xl:hidden fixed top-0 left-0 z-30 flex  w-full md:w-1/2 h-full overflow-y-auto bg-primary"
            x-show="isMobileNavOpen" @click.away="isMobileNavOpen = false"
            x-transition:enter="transition ease-linear duration-200 transform"
            x-transition:enter-start="-translate-x-full" x-transition:enter-end="translate-x-0"
            x-transition:leave="transition ease-out duration-200 transform" x-transition:leave-start="translate-x-0"
            x-transition:leave-end="-translate-x-full"
        >

            <div class="flex h-full w-full px-7.5 pt-7.5 flex-col">
                <div class="flex justify-start items-start">
                    <a href="/">
                        <svg class="logo m-auto w-25 md:w-36" viewBox="0 0 150 120" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M22.846 23.536L126.98 5.843v9.82l5.166-.87V0L17.68 19.434v14.793l5.166-.912v-9.78zM126.981 81.298l-44.642 7.541-16.143 18.274V91.616l-43.35 7.334V69.447l-5.166.912v34.434l43.35-7.335V120l23.462-26.52 47.655-8.121V50.925l-5.166.87v29.503z"
                                fill="#FF612A" />
                            <path class="text-white  fill-current logo-swap"
                                d="M12.9 54.986c-.602 1.367-1.764 2.279-3.142 2.527-2.11.373-3.4-1.077-3.4-3.605s1.29-4.392 3.4-4.765c1.378-.249 2.583.29 3.143 1.45l6.543-1.119c-.818-4.35-4.348-6.754-9.6-5.884C3.774 44.668.072 49.31.072 54.985c0 5.677 3.702 9.075 9.815 8.04 5.252-.871 8.782-4.517 9.6-9.158l-6.586 1.119zM31.068 39.904c-5.64.953-10.203 5.76-10.203 11.52 0 5.718 4.607 9.033 10.203 8.08 5.596-.953 10.16-5.801 10.16-11.52 0-5.76-4.478-9.033-10.16-8.08zm0 14.006c-2.54.414-3.875-1.036-3.875-3.564 0-2.569 1.335-4.475 3.875-4.93 2.497-.415 3.874.994 3.874 3.604 0 2.528-1.377 4.475-3.874 4.89zM62.192 54.034V34.932l-6.2 1.077v9.737l-6.586-8.618-6.199 1.036v19.06l6.2-1.036v-9.571l6.586 8.453 6.199-1.036zM78.076 32.239l-4.09 13.84-4.089-12.432-6.587 1.12 6.673 17.941 8.007-1.367 6.673-20.221-6.587 1.119zM99 43.012l-7.018 1.201V41.52l6.156-1.077v-4.476l-6.156 1.036v-2.361L99 33.482v-4.766l-13.216 2.238v19.06L99 47.777v-4.765zM117.856 44.585l-4.305-6.588c2.841-1.368 4.262-3.73 4.262-6.257 0-3.522-2.54-5.801-7.534-4.973l-9.256 1.575v19.06l6.199-1.035V39.53h.044l3.702 6.215 6.888-1.16zm-10.59-9.033V32.32l2.453-.415c1.163-.207 1.808.332 1.808 1.326 0 1.12-.602 1.74-1.808 1.907l-2.453.414zM125.645 29.503c0-.663.388-1.036.904-1.12.689-.123 1.335.125 1.378 1.285l6.673-1.118c-.173-3.937-3.229-5.636-8.051-4.807-4.218.704-7.576 3.273-7.576 7.086-.129 6.547 9.255 4.019 9.255 6.588 0 .663-.602 1.036-1.205 1.16-.603.125-1.378 0-1.507-1.367l-6.586 1.119c.258 4.226 3.831 5.635 8.351 4.89 4.779-.83 7.577-3.855 7.577-7.377-.043-5.925-9.213-3.977-9.213-6.34zM149.927 24.82v-4.765l-13.173 2.238v19.06l13.173-2.237v-4.765l-6.974 1.202v-2.694l6.156-1.036v-4.516l-6.156 1.036v-2.32l6.974-1.202zM47.684 79.931V68.91l4.047-.704v-3.646l-12.829 2.196V70.4l4.004-.704v11.022l4.778-.787zM60.212 77.942c4.305-.745 7.835-4.475 7.835-8.867 0-4.434-3.487-6.92-7.835-6.216-4.348.746-7.878 4.434-7.878 8.868.043 4.434 3.573 6.961 7.878 6.215zm0-10.815c1.937-.331 2.97.788 2.97 2.777 0 1.947-1.076 3.439-2.97 3.77-1.98.332-3.014-.787-3.014-2.734.044-2.03 1.077-3.481 3.014-3.813zM69.469 61.575v8.287c0 4.35 2.798 6.091 6.63 5.428 3.83-.663 6.887-3.398 6.887-7.707v-8.287l-4.778.787v8.287c0 1.285-.603 2.28-2.024 2.528-1.463.249-1.98-.58-1.98-1.865v-8.287l-4.735.829zM97.706 61.574c0-2.693-1.98-4.475-5.812-3.812l-7.103 1.202v14.668l4.778-.828V67.54l2.885 4.765 5.252-.911-3.315-5.055c2.195-.995 3.315-2.86 3.315-4.766zm-6.242 2.57l-1.895.33V61.99l1.895-.332c.904-.166 1.377.249 1.377.995 0 .911-.473 1.367-1.377 1.491zM104.767 66.795c-.473.083-1.076 0-1.162-1.078l-5.08.87c.216 3.274 2.971 4.352 6.458 3.771 3.702-.621 5.811-2.983 5.811-5.676 0-4.517-7.103-2.984-7.103-4.849 0-.497.302-.787.689-.87.517-.083.99.083 1.076.995l5.166-.87c-.129-3.025-2.497-4.31-6.199-3.688-3.272.538-5.855 2.527-5.855 5.47-.086 5.013 7.104 3.066 7.147 5.055 0 .497-.474.787-.948.87z" />
                        </svg>
                    </a>
                </div>

                <div class="flex h-[70vh] flex-col w-full max-w-lg justify-center items-center">




                    <ul class="flex flex-col mb-10 justify-center items-center gap-y-7  text-white uppercase">
                        {{ nav:main_nav include_home="false"}}
                        <li class="text-3xl font-bold ">
                            <a href="{{ url }}">{{ title }}</a>
                        </li>
                        {{ /nav:main_nav }}

                    </ul>

                    <div class="mt-7">
                        <button 
                            @click="if(isBookingOpen === true) { isBookingOpen = false; } window.book.isLoaded = true; window.book.step = 1; isBookingOpen = true;"
                            class="group btn m-auto"
                        >
                            <svg class="group-hover:opacity-100 absolute opacity-0 -translate-x-5 group-hover:translate-x-0"
                                width="15" height="10" viewBox="0 0 15 10" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.299 5.757L9.122 9l.98 1L15 5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z" />
                            </svg>
                            <span class="group-hover:translate-x-6">Book a tour</span>
                            <svg class="group-hover:opacity-0 group-hover:translate-x-5" width="15" height="10"
                                viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.299 5.757L9.122 9l.98 1L15 5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z" />
                            </svg>
                        </button>
                    </div>


                </div>
                <div class="flex justify-center items-center gap-x-5 text-center mt-5">
                    <!--INSTA-->
                    <a href="#">
                        <svg class="transition duration-500 ease-in-out text-secondary fill-current  hover:text-white w-6"
                            viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M18 0H6C2.7 0 0 2.7 0 6v12c0 3.3 2.7 6 6 6h12c3.3 0 6-2.7 6-6V6c0-3.3-2.7-6-6-6zm-6 17a5 5 0 110-10 5 5 0 010 10zm6.5-10a1.5 1.5 0 110-3 1.5 1.5 0 010 3z" />
                        </svg>
                    </a>
                    <!--FB-->
                    <a href="#">
                        <svg class="transition duration-500 ease-in-out text-secondary fill-current  hover:text-white w-6"
                            viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M20.484 0H3.516A3.52 3.52 0 000 3.516v16.968A3.52 3.52 0 003.516 24h7.078v-8.484H7.78v-4.22h2.813V8.439a4.223 4.223 0 014.219-4.22h4.265v4.22h-4.265v2.859h4.265l-.703 4.219h-3.563V24h5.672A3.52 3.52 0 0024 20.484V3.516A3.52 3.52 0 0020.484 0z" />
                        </svg>
                    </a>
                    <!--Twitter-->
                    <a href="#">
                        <svg class="transition duration-500 ease-in-out text-secondary fill-current  hover:text-white w-6"
                            viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M24 2.544c-.9.39-1.83.66-2.82.78a4.8 4.8 0 002.16-2.73c-.96.57-2.01.96-3.12 1.2a4.923 4.923 0 00-8.52 3.36c0 .39.03.75.12 1.11-4.08-.18-7.68-2.16-10.11-5.13-1.74 3.12.21 5.7 1.5 6.57-.78 0-1.56-.24-2.22-.6 0 2.43 1.71 4.44 3.93 4.89-.48.15-1.56.24-2.22.09.63 1.95 2.46 3.39 4.59 3.42-1.68 1.32-4.14 2.37-7.29 2.04 2.19 1.41 4.77 2.22 7.56 2.22 9.06 0 13.98-7.5 13.98-13.98 0-.21 0-.42-.03-.63 1.02-.75 1.86-1.62 2.49-2.61z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>