<div class="layout py-20">
    <div class="flex flex-col lg:max-w-2xl lg:px-9 gap-y-5 m-auto">

        <div x-data="{
  openTab: 1,
  activeClasses: 'bg-secondary text-white',
  inactiveClasses: 'bg-palegrey text-primary text-opacity-25'
  }" class="">
            <ul class="flex justify-between">

                <li @click="openTab = 1" :class="{ '-mb-px': openTab === 1 }" class="w-1/2 ">
                    <a :class="openTab === 1 ? activeClasses : inactiveClasses"
                        class="text-sm flex justify-center items-center py-5 cursor-pointer leading-none uppercase font-semibold transition-all duration-500 ease-in-out">
                        Walking tours
                    </a>
                </li>

                <li @click="openTab = 2" :class="{ '-mb-px': openTab === 2 }" class="w-1/2 -mb-px">
                    <a :class="openTab === 2 ? activeClasses : inactiveClasses"
                        class="text-sm flex justify-center items-center py-5 cursor-pointer leading-none uppercase font-semibold transition-all duration-500 ease-in-out">
                        private coach tours</a>
                </li>

            </ul>


            {{ collection:reviews }}
            <div class="w-full">

                {{ type_of_tour }}
                {{ if value == "Walking" }}
                <div class="" x-show="openTab === 1" style="display: none;">
                    <ul class="mt-5 review-list">

                        <li class="py-10 flex flex-start gap-x-4 border-b border-opacity-10 border-primary">
                            <svg class="w-7 flex-shrink-0 mt-2" width="28" height="20" viewBox="0 0 28 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path opacity=".2"
                                    d="M6.76 20c-1.577 0-2.873-.34-3.887-1.023a6.658 6.658 0 01-2.197-2.784A9.772 9.772 0 010 12.557c0-1.894.413-3.674 1.24-5.341.863-1.705 1.934-3.182 3.21-4.432C5.729 1.496 7.062.568 8.45 0l4.395 3.125a18.042 18.042 0 00-4.282 2.67c-1.277 1.061-2.216 2.197-2.817 3.41l.282.227c.226-.19.488-.322.789-.398.338-.076.77-.114 1.296-.114.75 0 1.502.19 2.253.569.789.34 1.427.89 1.916 1.647.525.758.788 1.705.788 2.841 0 2.046-.657 3.56-1.971 4.546A6.918 6.918 0 016.76 20zm14.93 0c-1.577 0-2.873-.34-3.887-1.023a6.658 6.658 0 01-2.197-2.784 9.772 9.772 0 01-.676-3.636c0-1.894.413-3.674 1.239-5.341.864-1.705 1.934-3.182 3.211-4.432 1.277-1.288 2.61-2.216 4-2.784l4.395 3.125a18.04 18.04 0 00-4.282 2.67c-1.277 1.061-2.216 2.197-2.817 3.41l.282.227c.225-.19.488-.322.789-.398.337-.076.77-.114 1.295-.114.751 0 1.503.19 2.254.569.788.34 1.427.89 1.915 1.647.526.758.789 1.705.789 2.841 0 2.046-.657 3.56-1.972 4.546A6.918 6.918 0 0121.69 20z"
                                    fill="#151E48" />
                            </svg>
                            <span>
                                <span class="text-sm leading-6">
                                    {{ review }}
                                    <span class="flex flex-start gap-x-1.25 mt-2">
                                        <img src="{{ country_flag }}">
                                        <span class="label">{{ title }}</span>
                                    </span>
                                </span>
                        </li>

                    </ul>
                </div>
                {{ /if }}
                {{ /type_of_tour }}

                {{ type_of_tour }}
                {{ if value == "Coach" }}
                <div class="" x-show="openTab === 2">
                    <ul class="mt-5 review-list">

                        <li class="py-10 flex flex-start gap-x-4 border-b border-opacity-10 border-primary">
                            <svg class="w-7 flex-shrink-0 mt-2" width="28" height="20" viewBox="0 0 28 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path opacity=".2"
                                    d="M6.76 20c-1.577 0-2.873-.34-3.887-1.023a6.658 6.658 0 01-2.197-2.784A9.772 9.772 0 010 12.557c0-1.894.413-3.674 1.24-5.341.863-1.705 1.934-3.182 3.21-4.432C5.729 1.496 7.062.568 8.45 0l4.395 3.125a18.042 18.042 0 00-4.282 2.67c-1.277 1.061-2.216 2.197-2.817 3.41l.282.227c.226-.19.488-.322.789-.398.338-.076.77-.114 1.296-.114.75 0 1.502.19 2.253.569.789.34 1.427.89 1.916 1.647.525.758.788 1.705.788 2.841 0 2.046-.657 3.56-1.971 4.546A6.918 6.918 0 016.76 20zm14.93 0c-1.577 0-2.873-.34-3.887-1.023a6.658 6.658 0 01-2.197-2.784 9.772 9.772 0 01-.676-3.636c0-1.894.413-3.674 1.239-5.341.864-1.705 1.934-3.182 3.211-4.432 1.277-1.288 2.61-2.216 4-2.784l4.395 3.125a18.04 18.04 0 00-4.282 2.67c-1.277 1.061-2.216 2.197-2.817 3.41l.282.227c.225-.19.488-.322.789-.398.337-.076.77-.114 1.295-.114.751 0 1.503.19 2.254.569.788.34 1.427.89 1.915 1.647.526.758.789 1.705.789 2.841 0 2.046-.657 3.56-1.972 4.546A6.918 6.918 0 0121.69 20z"
                                    fill="#151E48" />
                            </svg>
                            <span>
                                <span class="text-sm leading-6">
                                    {{ review }}
                                    <span class="flex flex-start gap-x-1.25 mt-2">
                                        <img src="{{ country_flag }}">
                                        <span class="label">{{ title }}</span>
                                    </span>
                                </span>
                        </li>

                    </ul>
                </div>
                {{ /if }}
                {{ /type_of_tour }}

            </div>
            {{ /collection:reviews }}



        </div>


    </div>
</div>