<div class="bg-primary pb-15 pt-44">
    <div class="layout">
        <div class="max-w-5xl xl:px-3 m-auto">
            <div class="flex flex-col justify-center items-center text-center gap-y-5 text-white ">
                <h1 class="title-80">{{ title }}</h1>
                <p class="leading-8 lg:px-25">{{ subtext }}</p>
                <span class="btn-icon">
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.757 12.799L9 9.622l1 .98L5 15.5l-5-4.899 1-.98 3.343 3.276V.5h1.414v12.299z" />
                    </svg>
                </span>
            </div>
        </div>
    </div>
</div>