<!--TEXT LEFT IMAGES RIGHT-->
<div class="bg-palegrey pb-20 lg:py-30 relative w-full overflow-hidden">



    <div
        class="lg:max-w-lg xl:max-w-2xl lg:absolute top-0 right-0 lg:-right-10 xl:-right-25 2xl:right-0 py-20 lg:py-30  {{ if flip_text_and_images }} left-0 lg:-left-10 xl:-left-25 2xl:left-0 {{ /if }}">

        <div
            class="flex items-end gap-x-5 transform {{ if flip_text_and_images }} lg:-translate-x-10 {{ /if }} lg:translate-x-6">
            <div class="h-60 lg:w-auto lg:h-72.5 flex-shrink-0">
               <img src="{{ glide:image_1 width="195" height="290" }}" class="w-full h-full object-cover transform  lg:translate-y-20">
            </div>
            <div class="w-auto h-82 flex-shrink-0">
               <img src="{{ glide:image_2 width="250" height="324"  }}" class="w-full h-full object-cover">
            </div>
            <div class="w-auto h-39.5 flex flex-shrink-0">
            <img src="{{ glide:image_3 width="285" height="158"  }}" class="w-full h-full object-cover">
            </div>
        </div>


        <div
            class="flex justify-end items-start gap-x-5 mt-5 transform {{ if flip_text_and_images }} lg:-translate-x-0 {{ /if }} lg:translate-x-20 {{ if flip_text_and_images }} xl:-translate-x-0 {{ /if }} xl:translate-x-0">
            <div class="w-auto h-39.5 flex-shrink-0">
                <img src="{{ glide:image_4 width="117" height="158"  }}" class="w-full h-full object-cover">
            </div>
            <div class="w-auto h-82 flex-shrink-0">
                <img src="{{ glide:image_5 width="288" height="324"  }}" class="w-full h-full object-cover">
            </div>
        </div>



    </div>

    <div class="layout {{ if flip_text_and_images }} text-right flex justify-end {{ /if }}">
        <div class="lg:max-w-lg xl:max-w-2xl {{ if flip_text_and_images }} xl:pl-6 {{ /if }} xl:pr-6">
            <h2 class="title-80 mb-10">{{ title_text }}</h2>
            <p class="text-sm leading-6">
                {{text}}
            </p>


           
            <a href="{{ button_link }}" class="group btn w-full justify-center mt-10">
                <svg class="opacity-0 -translate-x-5 group-hover:translate-x-1 group-hover:opacity-100" width="15"
                    height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.299 5.757L9.122 9l.98 1L15 5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z" />
                </svg>
                <span class="-translate-x-3 group-hover:translate-x-2 ">{{ button_text }}</span>
                <svg class="-translate-x-2.5 group-hover:opacity-0 group-hover:translate-x-8" width="15" height="10"
                    viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.299 5.757L9.122 9l.98 1L15 5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z" />
                </svg>
            </a>


        </div>
    </div>

</div>
