<div class="layout py-20">
    <div class="flex flex-col lg:max-w-2xl lg:px-9 gap-y-5 m-auto generalText">

    </div>
  </div>
{{ partial:components/heroBanner }}
{{ partial:components/fullWidthCTA }}
{{ partial:components/featuredTours }}
{{ partial:components/2ColCTA }}
{{ partial:components/textWImages }}
