<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ if meta_title}}
    <title>{{ meta_title }}</title>
    {{else}}
    <title>{{ title }} | Converse Tours | Walking Tours Belfast</title>
    {{/if}}

    {{ if meta_description}}
    <meta name="description" content="{{meta_description}}">
    {{/if}}
    
    <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">

    <script src="{{ mix src='/js/site.js' }}"></script>
    
    <!--VUE SAX-->
    <link href="https://cdn.jsdelivr.net/npm/vuesax/dist/vuesax.css" rel="stylesheet">
    <script src="https://unpkg.com/vuesax"></script>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--SLICK SLIDER-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

    <script src="https://assets.what3words.com/sdk/v3.1/what3words.js?key=05V5G1RZ"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDNW45KBfpGqhntbjw9oony1k-_3N5JO3U"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EKBMHWK9M4"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EKBMHWK9M4');
    </script>
    
</head>

<body
    class="no-scrollbar overflow-x-hidden min-h-screen font-Poppins bg-white antialiased text-primary text-lg font-normal"
    :class="[(isMobileNavOpen === true) ? 'overflow-hidden': '', (isBookingOpen === true || isEnquireOpen === true) ? 'open-booking' : '']"
    x-data="{ isMobileNavOpen: false, isBookingOpen: false, isEnquireOpen: false, atTop: true }"
> 
    

<div class="overflow-hidden">
    {{ partial:components/mainNav }}
    {{ template_content }}
    {{ partial:components/footer }}
</div>

{{ partial:components/bookingModal }}



<script type="text/javascript">
    $(document).ready(function () {
         $('.review-slider').slick({
            dots: false,
            infinite: true,
            speed: 500,
            autoplay: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            fade: true,
            prevArrow: false,
            nextArrow: false
        });
    });
</script>



<script src="/js/book.js"></script>

</body>
</html>
