@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap);
/*! tailwindcss v2.2.4 | MIT License | https://tailwindcss.com */

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

html {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	   tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
	margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
	font-family:
		system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, 
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}

/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */

body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * 1. Make replaced elements `display: block` by default as that's
 *    the behavior you want almost all of the time. Inspired by
 *    CSS Remedy, with `svg` added as well.
 *
 *    https://github.com/mozdevs/cssremedy/issues/14
 * 
 * 2. Add `vertical-align: middle` to align replaced elements more
 *    sensibly by default when overriding `display` by adding a
 *    utility like `inline`.
 *
 *    This can trigger a poorly considered linting error in some
 *    tools but is included by design.
 * 
 *    https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/**
 * Constrain images and videos to the parent width and preserve
 * their intrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  max-width: 100%;
  height: auto;
}

*, ::before, ::after{
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	--tw-border-opacity: 1;
	border-color: rgba(229, 231, 235, var(--tw-border-opacity));
	--tw-shadow: 0 0 rgba(0,0,0,0);
	--tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgba(59, 130, 246, 0.5);
	--tw-ring-offset-shadow: 0 0 rgba(0,0,0,0);
	--tw-ring-shadow: 0 0 rgba(0,0,0,0);
	--tw-blur: var(--tw-empty,/*!*/ /*!*/);
	--tw-brightness: var(--tw-empty,/*!*/ /*!*/);
	--tw-contrast: var(--tw-empty,/*!*/ /*!*/);
	--tw-grayscale: var(--tw-empty,/*!*/ /*!*/);
	--tw-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
	--tw-invert: var(--tw-empty,/*!*/ /*!*/);
	--tw-saturate: var(--tw-empty,/*!*/ /*!*/);
	--tw-sepia: var(--tw-empty,/*!*/ /*!*/);
	--tw-drop-shadow: var(--tw-empty,/*!*/ /*!*/);
	--tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
	--tw-backdrop-blur: var(--tw-empty,/*!*/ /*!*/);
	--tw-backdrop-brightness: var(--tw-empty,/*!*/ /*!*/);
	--tw-backdrop-contrast: var(--tw-empty,/*!*/ /*!*/);
	--tw-backdrop-grayscale: var(--tw-empty,/*!*/ /*!*/);
	--tw-backdrop-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
	--tw-backdrop-invert: var(--tw-empty,/*!*/ /*!*/);
	--tw-backdrop-opacity: var(--tw-empty,/*!*/ /*!*/);
	--tw-backdrop-saturate: var(--tw-empty,/*!*/ /*!*/);
	--tw-backdrop-sepia: var(--tw-empty,/*!*/ /*!*/);
	--tw-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.container{
	width: 100%;
}

@media (min-width: 640px){

	.container{
		max-width: 640px;
	}
}

@media (min-width: 768px){

	.container{
		max-width: 768px;
	}
}

@media (min-width: 1024px){

	.container{
		max-width: 1024px;
	}
}

@media (min-width: 1280px){

	.container{
		max-width: 1280px;
	}
}

@media (min-width: 1536px){

	.container{
		max-width: 1536px;
	}
}

@media (min-width: 1600px){

	.container{
		max-width: 1600px;
	}
}

@tailwind utilities;

.layout{
	margin: auto;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

@media (min-width: 1024px){

	.layout{
		padding-left: 3.125rem;
		padding-right: 3.125rem;
	}
}

@media (min-width: 1280px){

	.layout{
		max-width: 1280px;
	}
}

@media (min-width: 1536px){

	.layout{
		max-width: 1536px;
	}

	.layout{
		padding-left: 7.375rem;
		padding-right: 7.375rem;
	}
}

.title-112{
	font-size: 3.75rem;
	line-height: 1;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1;
}

@media (min-width: 768px){

	.title-112{
		font-size: 4.5rem;
		line-height: 1;
	}
}

@media (min-width: 1024px){

	.title-112{
		font-size: 7rem;
	}
}

/*80px*/

.title-80{
	font-size: 3rem;
	line-height: 1;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1;
}

@media (min-width: 768px){

	.title-80{
		font-size: 3.75rem;
		line-height: 1;
	}
}

@media (min-width: 1280px){

	.title-80{
		font-size: 5rem;
	}
}

/*60px*/

.title-60{
	font-size: 2.5rem;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1;
}

@media (min-width: 1280px){

	.title-60{
		font-size: 3.75rem;
		line-height: 1;
	}
}

h2{
	font-size: 2.5rem;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1;
}

@media (min-width: 1280px){

	h2{
		font-size: 3.75rem;
		line-height: 1;
	}
}

/*60px*/

.title-40{
	font-size: 2.5rem;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1;
}

/*24px*/

.title-24{
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1.875rem;
}

/*18px*/

.title-18{
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1;
}

/*10px*/

.label{
	font-size: 0.625rem;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 0.1em;
}

/* ICON ONLY BUTTON - ORANGE */

.btn-icon{
	display: flex;
	height: 3.125rem;
	width: 3.125rem;
	align-items: center;
	justify-content: center;
	--tw-bg-opacity: 1;
	background-color: rgba(255, 97, 42, var(--tw-bg-opacity));
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-icon svg{
	fill: currentColor;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}

button.btn-icon:hover{
	--tw-bg-opacity: 1;
	background-color: rgba(255, 131, 42, var(--tw-bg-opacity));
}

/* ICON ONLY BUTTON - ORANGE */

.btn-icon-grey{
	display: flex;
	height: 3.125rem;
	width: 3.125rem;
	align-items: center;
	justify-content: center;
	--tw-bg-opacity: 1;
	background-color: rgba(236, 237, 240, var(--tw-bg-opacity));
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-icon-grey svg{
	fill: currentColor;
	--tw-text-opacity: 1;
	color: rgba(21, 30, 72, var(--tw-text-opacity));
}

.btn-icon-grey:hover{
	--tw-bg-opacity: 1;
	background-color: rgba(21, 30, 72, var(--tw-bg-opacity));
}

.btn-icon-grey:hover svg{
	fill: currentColor;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.btn{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	grid-gap: 0.625rem;
	gap: 0.625rem;
	--tw-bg-opacity: 1;
	background-color: rgba(255, 97, 42, var(--tw-bg-opacity));
	padding: 1.25rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 600;
	text-transform: uppercase;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn span{
	transform: var(--tw-transform);
	line-height: 1;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover{
	--tw-bg-opacity: 1;
	background-color: rgba(255, 131, 42, var(--tw-bg-opacity));
}

.btn svg{
	transform: var(--tw-transform);
	fill: currentColor;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*HEADER*/

.header-tour-detail{
  background-color:#fff!important;
}

.header-tour-detail .logo-swap{
	fill: currentColor;
	--tw-text-opacity: 1;
	color: rgba(21, 30, 72, var(--tw-text-opacity));
}

.header-tour-detail .mainNav a{
	--tw-text-opacity: 1;
	color: rgba(21, 30, 72, var(--tw-text-opacity));
}

.header-tour-detail .mainNav a.active
{
  border-bottom: 2px solid #151E48;
}

.header-tour-detail .mainNav a:after{
  content: "";
  background-color: #151E48;
}

/*NAVIGATION*/

.mainNav a, .footerNav a{
	position: relative;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 600;
	text-transform: uppercase;
}

.mainNav .active-page{
	--tw-text-opacity: 1;
	color: rgba(255, 97, 42, var(--tw-text-opacity));
}

.mainNav a.active,
  .footerNav a.active {
      border-bottom: 2px solid #fff;
  }

.mainNav a:after,
  .footerNav a:after {
      content: "";
      position: absolute;
      top: 24px;
      height: 2px;
      left: 0;
      width: 100%;
      background-color: #fff;
      transform-origin: left;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  }

.mainNav a:hover:after,
  .footerNav a:hover:after {
          -webkit-animation: scaleUp 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
                  animation: scaleUp 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
          transform: none;
  }

/*BOOKING MODAL*/

.booking-modal{
	position: fixed;
	top: 0px;
	z-index: 40;
	height: 100vh;
	width: 100%;
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px){

	.booking-modal{
		width: 27.5rem;
	}
}

.booking-modal{
  box-shadow: -10px 0px 60px rgba(21, 30, 72, 0.35);
  right:-100%;
}

body.open-booking .booking-modal{
	right: 0px;
  background-image: url();
}

.label{
	display: flex;
	height: 2rem;
	align-items: center;
	justify-content: center;
	grid-column-gap: 0.3125rem;
	-moz-column-gap: 0.3125rem;
	     column-gap: 0.3125rem;
	border-radius: 9999px;
	--tw-bg-opacity: 1;
	background-color: rgba(21, 30, 72, var(--tw-bg-opacity));
	--tw-bg-opacity: 0.05;
	padding: 0.875rem;
	--tw-text-opacity: 1;
	color: rgba(21, 30, 72, var(--tw-text-opacity));
}

/*REVIEWS*/

/* .review-list li:last-child{
  @apply border-0;
} */

/*LIST*/

ul.general-list li {
list-style-position: outside;
list-style-type: square;
}

.company-logo{
	display: flex;
	height: 7.875rem;
	width: 10.375rem;
	align-items: center;
	justify-content: center;
	padding-left: 0.625rem;
	padding-right: 0.625rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.company-logo img{
	margin: auto;
	max-height: 100%;
	max-width: 100%;
	opacity: 0.5;
	--tw-grayscale: grayscale(100%);
	filter: var(--tw-filter);
	filter: var(--tw-filter);
}

#dropdown-icon .close, #dropdown-icon .activeMobileNav .open, .user-cart button{
	display: none;
}

@media (min-width: 1024px){

	#dropdown-icon .close, #dropdown-icon .activeMobileNav .open, .user-cart button{
		display: block;
	}
}

#dropdown-icon .activeMobileNav .close, .user-cart.activeMobileNav button{
	display: block;
}

/*FORMS*/

.hidden--visually {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*REMOVE INPUT DEFUALT APPEARANCE*/

input[type="number"] {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
              appearance: textfield;
  }

input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
  }

.hidden--visually {
      border: 0;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

.floating__input {
  padding: 1.5rem 1rem 0.5rem 0rem;   
  font-size: 1rem;
  transition: border-color 0.2s ease;
  }

.floating__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0);
  }

.floating__input:-ms-input-placeholder{
  color: rgba(0, 0, 0, 0);
  }

.floating__input::placeholder {
  color: rgba(0, 0, 0, 0);
  }

.floating__label {
  display: block;
  position: relative;
  max-height: 0;
   pointer-events: none;
  }

.floating__label::before {
  content: attr(data-content);
  display: inline-block;
  filter: blur(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-origin: left top;
  transition: transform 0.2s ease;
  left: 0rem;
  top: -10px;
  position: relative;

  }

.text-area .floating__label::before {
      top: -75px
  }

textarea {
      resize: none;
    }

.floating__label::after {
  bottom: 2rem;
  content: "";
  height: 0.1rem;
  position: absolute;
  transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1),
  opacity 180ms cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s ease;
  opacity: 0;
  left: 0;
  top: 100%;
  margin-top: -0.1rem;
  transform: scale3d(0, 1, 1);
  width: 100%;

  }

.floating__input:focus + .floating__label::after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
  }

.floating__input:-moz-placeholder-shown + .floating__label::before {
  transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
  }

.floating__input:-ms-input-placeholder + .floating__label::before {
  transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
  }

.floating__input:placeholder-shown + .floating__label::before {
  transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
  }

.floating__label::before,
  .floating__input:focus + .floating__label::before {
  transform: translate3d(0, -3.12rem, 0) scale3d(0.82, 0.82, 1);
  }

input:checked + label{
	--tw-bg-opacity: 1;
	background-color: rgba(21, 30, 72, var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}

/* ADDED FOR STATAMIC */

p img {
  margin: 0 auto!important;
}

.generalText ul li {
  list-style: square!important;
}

.content-block p{
    margin-bottom: 20px;
  }

.content-block li {
    list-style: square!important;
  }

.vdp-datepicker input{
    background-color: #ECEDF0;
    height: 50px;
    width: 150px;
    font-size: 12px;
    padding-left: 12px;
  }

.vdp-datepicker__calendar {
  position: absolute;
  right: 0px;
}

.ico_date{
  position: absolute;
  top: 12px;
  right: 12px;
  pointer-events: none;
}

.pointer-events-none{
	pointer-events: none;
}

.fixed{
	position: fixed;
}

.absolute{
	position: absolute;
}

.relative{
	position: relative;
}

.inset-y-0{
	top: 0px;
	bottom: 0px;
}

.left-12{
	left: 3rem;
}

.-left-5{
	left: -1.25rem;
}

.right-0{
	right: 0px;
}

.top-3{
	top: 0.75rem;
}

.left-3{
	left: 0.75rem;
}

.top-0{
	top: 0px;
}

.top-\[60vh\]{
	top: 60vh;
}

.left-0{
	left: 0px;
}

.bottom-7\.5{
	bottom: 1.875rem;
}

.right-7\.5{
	right: 1.875rem;
}

.bottom-7{
	bottom: 1.75rem;
}

.right-7{
	right: 1.75rem;
}

.left-10{
	left: 2.5rem;
}

.z-10{
	z-index: 10;
}

.z-20{
	z-index: 20;
}

.z-40{
	z-index: 40;
}

.z-30{
	z-index: 30;
}

.m-auto{
	margin: auto;
}

.my-2{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.my-4{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.my-0{
	margin-top: 0px;
	margin-bottom: 0px;
}

.mx-1{
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}

.my-7\.5{
	margin-top: 1.875rem;
	margin-bottom: 1.875rem;
}

.my-7{
	margin-top: 1.75rem;
	margin-bottom: 1.75rem;
}

.my-8{
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.mt-7\.5{
	margin-top: 1.875rem;
}

.mt-7{
	margin-top: 1.75rem;
}

.mt-10{
	margin-top: 2.5rem;
}

.mb-5{
	margin-bottom: 1.25rem;
}

.mt-5{
	margin-top: 1.25rem;
}

.mt-2\.5{
	margin-top: 0.625rem;
}

.mt-2{
	margin-top: 0.5rem;
}

.mb-2\.5{
	margin-bottom: 0.625rem;
}

.mb-2{
	margin-bottom: 0.5rem;
}

.mb-30{
	margin-bottom: 7.5rem;
}

.mr-4{
	margin-right: 1rem;
}

.-mt-40{
	margin-top: -10rem;
}

.mb-10{
	margin-bottom: 2.5rem;
}

.-mb-px{
	margin-bottom: -1px;
}

.mt-40{
	margin-top: 10rem;
}

.mb-1{
	margin-bottom: 0.25rem;
}

.ml-3{
	margin-left: 0.75rem;
}

.block{
	display: block;
}

.flex{
	display: flex;
}

.inline-flex{
	display: inline-flex;
}

.hidden{
	display: none;
}

.h-17\.5{
	height: 4.375rem;
}

.h-25{
	height: 6.25rem;
}

.h-full{
	height: 100%;
}

.h-6{
	height: 1.5rem;
}

.h-12\.5{
	height: 3.125rem;
}

.h-12{
	height: 3rem;
}

.h-50{
	height: 12.5rem;
}

.h-\[60vh\]{
	height: 60vh;
}

.h-\[30vh\]{
	height: 30vh;
}

.h-14{
	height: 3.5rem;
}

.h-\[70vh\]{
	height: 70vh;
}

.h-60{
	height: 15rem;
}

.h-82{
	height: 20.25rem;
}

.h-39\.5{
	height: 9.875rem;
}

.h-110{
	height: 27.5rem;
}

.h-8{
	height: 2rem;
}

.h-160{
	height: 40rem;
}

.h-20{
	height: 5rem;
}

.h-80{
	height: 20rem;
}

.max-h-0{
	max-height: 0px;
}

.min-h-screen{
	min-height: 100vh;
}

.w-full{
	width: 100%;
}

.w-25{
	width: 6.25rem;
}

.w-6{
	width: 1.5rem;
}

.w-\[150px\]{
	width: 150px;
}

.w-38{
	width: 9.5rem;
}

.w-12\.5{
	width: 3.125rem;
}

.w-12{
	width: 3rem;
}

.w-9\/12{
	width: 75%;
}

.w-8{
	width: 2rem;
}

.w-86\.75{
	width: 21.6875rem;
}

.w-7{
	width: 1.75rem;
}

.w-22\.5{
	width: 5.625rem;
}

.w-1\/2{
	width: 50%;
}

.w-auto{
	width: auto;
}

.w-20{
	width: 5rem;
}

.w-2\/3{
	width: 66.666667%;
}

.max-w-lg{
	max-width: 32rem;
}

.max-w-5xl{
	max-width: 64rem;
}

.flex-shrink-0{
	flex-shrink: 0;
}

.flex-grow{
	flex-grow: 1;
}

.-translate-x-3{
	--tw-translate-x: -0.75rem;
	transform: var(--tw-transform);
}

.-translate-x-2\.5{
	--tw-translate-x: -0.625rem;
	transform: var(--tw-transform);
}

.-translate-x-2{
	--tw-translate-x: -0.5rem;
	transform: var(--tw-transform);
}

.translate-y-12{
	--tw-translate-y: 3rem;
	transform: var(--tw-transform);
}

.translate-y-0{
	--tw-translate-y: 0px;
	transform: var(--tw-transform);
}

.-translate-x-full{
	--tw-translate-x: -100%;
	transform: var(--tw-transform);
}

.translate-x-0{
	--tw-translate-x: 0px;
	transform: var(--tw-transform);
}

.-translate-x-5{
	--tw-translate-x: -1.25rem;
	transform: var(--tw-transform);
}

.rotate-180{
	--tw-rotate: 180deg;
	transform: var(--tw-transform);
}

.transform{
	transform: var(--tw-transform);
}

.cursor-not-allowed{
	cursor: not-allowed;
}

.cursor-pointer{
	cursor: pointer;
}

.appearance-none{
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

.flex-row{
	flex-direction: row;
}

.flex-col{
	flex-direction: column;
}

.flex-wrap{
	flex-wrap: wrap;
}

.items-start{
	align-items: flex-start;
}

.items-end{
	align-items: flex-end;
}

.items-center{
	align-items: center;
}

.justify-start{
	justify-content: flex-start;
}

.justify-end{
	justify-content: flex-end;
}

.justify-center{
	justify-content: center;
}

.justify-between{
	justify-content: space-between;
}

.gap-y-5{
	grid-row-gap: 1.25rem;
	row-gap: 1.25rem;
}

.gap-x-2\.5{
	grid-column-gap: 0.625rem;
	-moz-column-gap: 0.625rem;
	     column-gap: 0.625rem;
}

.gap-x-2{
	grid-column-gap: 0.5rem;
	-moz-column-gap: 0.5rem;
	     column-gap: 0.5rem;
}

.gap-y-2\.5{
	grid-row-gap: 0.625rem;
	row-gap: 0.625rem;
}

.gap-y-2{
	grid-row-gap: 0.5rem;
	row-gap: 0.5rem;
}

.gap-x-5{
	grid-column-gap: 1.25rem;
	-moz-column-gap: 1.25rem;
	     column-gap: 1.25rem;
}

.gap-x-15{
	grid-column-gap: 3.75rem;
	-moz-column-gap: 3.75rem;
	     column-gap: 3.75rem;
}

.gap-y-12{
	grid-row-gap: 3rem;
	row-gap: 3rem;
}

.gap-x-0{
	grid-column-gap: 0px;
	-moz-column-gap: 0px;
	     column-gap: 0px;
}

.gap-y-10{
	grid-row-gap: 2.5rem;
	row-gap: 2.5rem;
}

.gap-x-1\.25{
	grid-column-gap: 0.3125rem;
	-moz-column-gap: 0.3125rem;
	     column-gap: 0.3125rem;
}

.gap-y-1\.25{
	grid-row-gap: 0.3125rem;
	row-gap: 0.3125rem;
}

.gap-x-1{
	grid-column-gap: 0.25rem;
	-moz-column-gap: 0.25rem;
	     column-gap: 0.25rem;
}

.gap-y-1{
	grid-row-gap: 0.25rem;
	row-gap: 0.25rem;
}

.gap-y-7\.5{
	grid-row-gap: 1.875rem;
	row-gap: 1.875rem;
}

.gap-y-7{
	grid-row-gap: 1.75rem;
	row-gap: 1.75rem;
}

.gap-x-7\.5{
	grid-column-gap: 1.875rem;
	-moz-column-gap: 1.875rem;
	     column-gap: 1.875rem;
}

.gap-x-7{
	grid-column-gap: 1.75rem;
	-moz-column-gap: 1.75rem;
	     column-gap: 1.75rem;
}

.gap-x-3\.5{
	grid-column-gap: 0.875rem;
	-moz-column-gap: 0.875rem;
	     column-gap: 0.875rem;
}

.gap-x-3{
	grid-column-gap: 0.75rem;
	-moz-column-gap: 0.75rem;
	     column-gap: 0.75rem;
}

.gap-x-4{
	grid-column-gap: 1rem;
	-moz-column-gap: 1rem;
	     column-gap: 1rem;
}

.self-end{
	align-self: flex-end;
}

.overflow-hidden{
	overflow: hidden;
}

.overflow-y-auto{
	overflow-y: auto;
}

.overflow-x-hidden{
	overflow-x: hidden;
}

.rounded-full{
	border-radius: 9999px;
}

.border{
	border-width: 1px;
}

.border-b{
	border-bottom-width: 1px;
}

.border-l{
	border-left-width: 1px;
}

.border-r{
	border-right-width: 1px;
}

.border-none{
	border-style: none;
}

.border-primary{
	--tw-border-opacity: 1;
	border-color: rgba(21, 30, 72, var(--tw-border-opacity));
}

.border-white{
	--tw-border-opacity: 1;
	border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}

.border-opacity-10{
	--tw-border-opacity: 0.1;
}

.bg-white{
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.bg-palegrey{
	--tw-bg-opacity: 1;
	background-color: rgba(236, 237, 240, var(--tw-bg-opacity));
}

.bg-primary{
	--tw-bg-opacity: 1;
	background-color: rgba(21, 30, 72, var(--tw-bg-opacity));
}

.bg-paleorange{
	--tw-bg-opacity: 1;
	background-color: rgba(255, 224, 209, var(--tw-bg-opacity));
}

.bg-transparent{
	background-color: transparent;
}

.bg-secondary{
	--tw-bg-opacity: 1;
	background-color: rgba(255, 97, 42, var(--tw-bg-opacity));
}

.bg-opacity-5{
	--tw-bg-opacity: 0.05;
}

.bg-gradient-to-b{
	background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.from-primary{
	--tw-gradient-from: #151E48;
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(21, 30, 72, 0));
}

.to-transparent{
	--tw-gradient-to: transparent;
}

.bg-cover{
	background-size: cover;
}

.bg-center{
	background-position: center;
}

.bg-right-top{
	background-position: right top;
}

.bg-no-repeat{
	background-repeat: no-repeat;
}

.fill-current{
	fill: currentColor;
}

.object-cover{
	-o-object-fit: cover;
	   object-fit: cover;
}

.object-fill{
	-o-object-fit: fill;
	   object-fit: fill;
}

.p-5{
	padding: 1.25rem;
}

.p-8{
	padding: 2rem;
}

.p-6{
	padding: 1.5rem;
}

.p-2{
	padding: 0.5rem;
}

.p-3\.5{
	padding: 0.875rem;
}

.p-3{
	padding: 0.75rem;
}

.p-7\.5{
	padding: 1.875rem;
}

.p-7{
	padding: 1.75rem;
}

.py-20{
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.py-7\.5{
	padding-top: 1.875rem;
	padding-bottom: 1.875rem;
}

.py-7{
	padding-top: 1.75rem;
	padding-bottom: 1.75rem;
}

.py-2\.5{
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
}

.py-2{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.px-4{
	padding-left: 1rem;
	padding-right: 1rem;
}

.py-30{
	padding-top: 7.5rem;
	padding-bottom: 7.5rem;
}

.py-12\.5{
	padding-top: 3.125rem;
	padding-bottom: 3.125rem;
}

.px-10{
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

.py-12{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.py-15{
	padding-top: 3.75rem;
	padding-bottom: 3.75rem;
}

.px-7\.5{
	padding-left: 1.875rem;
	padding-right: 1.875rem;
}

.px-7{
	padding-left: 1.75rem;
	padding-right: 1.75rem;
}

.py-5{
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}

.py-10{
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}

.pl-5{
	padding-left: 1.25rem;
}

.pr-14{
	padding-right: 3.5rem;
}

.pt-20{
	padding-top: 5rem;
}

.pb-30{
	padding-bottom: 7.5rem;
}

.pt-30{
	padding-top: 7.5rem;
}

.pt-7\.5{
	padding-top: 1.875rem;
}

.pt-7{
	padding-top: 1.75rem;
}

.pb-15{
	padding-bottom: 3.75rem;
}

.pt-44{
	padding-top: 11rem;
}

.pb-20{
	padding-bottom: 5rem;
}

.text-left{
	text-align: left;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.font-Poppins{
	font-family: Poppins, sans-serif;
}

.text-lg{
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.text-sm{
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.text-xs{
	font-size: 0.75rem;
	line-height: 1rem;
}

.text-4xl{
	font-size: 2.5rem;
}

.text-3xl{
	font-size: 1.875rem;
	line-height: 2.25rem;
}

.font-normal{
	font-weight: 400;
}

.font-semibold{
	font-weight: 600;
}

.font-bold{
	font-weight: 700;
}

.uppercase{
	text-transform: uppercase;
}

.leading-5\.5{
	line-height: 1.375rem;
}

.leading-5{
	line-height: 1.25rem;
}

.leading-none{
	line-height: 1;
}

.leading-6{
	line-height: 1.5rem;
}

.leading-8{
	line-height: 2rem;
}

.text-primary{
	--tw-text-opacity: 1;
	color: rgba(21, 30, 72, var(--tw-text-opacity));
}

.text-secondary{
	--tw-text-opacity: 1;
	color: rgba(255, 97, 42, var(--tw-text-opacity));
}

.text-white{
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.text-opacity-50{
	--tw-text-opacity: 0.5;
}

.text-opacity-25{
	--tw-text-opacity: 0.25;
}

.underline{
	text-decoration: underline;
}

.antialiased{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.opacity-0{
	opacity: 0;
}

.opacity-100{
	opacity: 1;
}

.opacity-20{
	opacity: 0.2;
}

.opacity-25{
	opacity: 0.25;
}

.opacity-40{
	opacity: 0.4;
}

.mix-blend-multiply{
	mix-blend-mode: multiply;
}

.outline-none{
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.filter{
	filter: var(--tw-filter);
}

.transition{
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.transition-all{
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.delay-500{
	transition-delay: 500ms;
}

.duration-700{
	transition-duration: 700ms;
}

.duration-500{
	transition-duration: 500ms;
}

.duration-300{
	transition-duration: 300ms;
}

.duration-200{
	transition-duration: 200ms;
}

.ease-out{
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.ease-in-out{
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-linear{
	transition-timing-function: linear;
}

.hover\:text-white:hover{
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.hover\:text-pink-300:hover{
	--tw-text-opacity: 1;
	color: rgba(249, 168, 212, var(--tw-text-opacity));
}

.hover\:opacity-100:hover{
	opacity: 1;
}

.focus\:border-b:focus{
	border-bottom-width: 1px;
}

.focus\:border-secondary:focus{
	--tw-border-opacity: 1;
	border-color: rgba(255, 97, 42, var(--tw-border-opacity));
}

.focus\:text-black:focus{
	--tw-text-opacity: 1;
	color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.focus\:outline-none:focus{
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.group:hover .group-hover\:translate-x-12{
	--tw-translate-x: 3rem;
	transform: var(--tw-transform);
}

.group:hover .group-hover\:translate-x-2{
	--tw-translate-x: 0.5rem;
	transform: var(--tw-transform);
}

.group:hover .group-hover\:translate-x-8{
	--tw-translate-x: 2rem;
	transform: var(--tw-transform);
}

.group:hover .group-hover\:translate-x-9{
	--tw-translate-x: 2.25rem;
	transform: var(--tw-transform);
}

.group:hover .group-hover\:translate-x-6{
	--tw-translate-x: 1.5rem;
	transform: var(--tw-transform);
}

.group:hover .group-hover\:translate-x-5{
	--tw-translate-x: 1.25rem;
	transform: var(--tw-transform);
}

.group:hover .group-hover\:translate-x-2\.5{
	--tw-translate-x: 0.625rem;
	transform: var(--tw-transform);
}

.group:hover .group-hover\:-translate-x-2\.5{
	--tw-translate-x: -0.625rem;
	transform: var(--tw-transform);
}

.group:hover .group-hover\:-translate-x-2{
	--tw-translate-x: -0.5rem;
	transform: var(--tw-transform);
}

.group:hover .group-hover\:translate-x-0{
	--tw-translate-x: 0px;
	transform: var(--tw-transform);
}

.group:hover .group-hover\:translate-x-1{
	--tw-translate-x: 0.25rem;
	transform: var(--tw-transform);
}

.group:hover .group-hover\:translate-x-10{
	--tw-translate-x: 2.5rem;
	transform: var(--tw-transform);
}

.group:hover .group-hover\:translate-x-14{
	--tw-translate-x: 3.5rem;
	transform: var(--tw-transform);
}

.group:hover .group-hover\:scale-125{
	--tw-scale-x: 1.25;
	--tw-scale-y: 1.25;
	transform: var(--tw-transform);
}

.group:hover .group-hover\:bg-paleblue{
	--tw-bg-opacity: 1;
	background-color: rgba(32, 45, 108, var(--tw-bg-opacity));
}

.group:hover .group-hover\:text-secondary{
	--tw-text-opacity: 1;
	color: rgba(255, 97, 42, var(--tw-text-opacity));
}

.group:hover .group-hover\:opacity-100{
	opacity: 1;
}

.group:hover .group-hover\:opacity-0{
	opacity: 0;
}

@media (min-width: 640px){

	.sm\:w-\[47\%\]{
		width: 47%;
	}

	.sm\:flex-row{
		flex-direction: row;
	}
}

@media (min-width: 768px){

	.md\:absolute{
		position: absolute;
	}

	.md\:m-0{
		margin: 0px;
	}

	.md\:-mx-3{
		margin-left: -0.75rem;
		margin-right: -0.75rem;
	}

	.md\:h-\[80vh\]{
		height: 80vh;
	}

	.md\:h-160{
		height: 40rem;
	}

	.md\:h-140{
		height: 35rem;
	}

	.md\:w-1\/2{
		width: 50%;
	}

	.md\:w-36{
		width: 9rem;
	}

	.md\:w-80{
		width: 20rem;
	}

	.md\:w-4\/5{
		width: 80%;
	}

	.md\:flex-row{
		flex-direction: row;
	}

	.md\:flex-wrap{
		flex-wrap: wrap;
	}

	.md\:items-center{
		align-items: center;
	}

	.md\:gap-10{
		grid-gap: 2.5rem;
		gap: 2.5rem;
	}

	.md\:gap-x-10{
		grid-column-gap: 2.5rem;
		-moz-column-gap: 2.5rem;
		     column-gap: 2.5rem;
	}

	.md\:gap-y-20{
		grid-row-gap: 5rem;
		row-gap: 5rem;
	}

	.md\:px-3{
		padding-left: 0.75rem;
		padding-right: 0.75rem;
	}

	.md\:px-4{
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.md\:px-7\.5{
		padding-left: 1.875rem;
		padding-right: 1.875rem;
	}

	.md\:px-7{
		padding-left: 1.75rem;
		padding-right: 1.75rem;
	}

	.md\:pt-0{
		padding-top: 0px;
	}

	.md\:pl-7\.5{
		padding-left: 1.875rem;
	}

	.md\:pl-7{
		padding-left: 1.75rem;
	}
}

@media (min-width: 1024px){

	.lg\:absolute{
		position: absolute;
	}

	.lg\:top-0{
		top: 0px;
	}

	.lg\:right-0{
		right: 0px;
	}

	.lg\:top-auto{
		top: auto;
	}

	.lg\:bottom-20{
		bottom: 5rem;
	}

	.lg\:-right-10{
		right: -2.5rem;
	}

	.lg\:-left-10{
		left: -2.5rem;
	}

	.lg\:block{
		display: block;
	}

	.lg\:flex{
		display: flex;
	}

	.lg\:hidden{
		display: none;
	}

	.lg\:h-auto{
		height: auto;
	}

	.lg\:h-72\.5{
		height: 18.125rem;
	}

	.lg\:h-72{
		height: 18rem;
	}

	.lg\:w-1\/3{
		width: 33.333333%;
	}

	.lg\:w-auto{
		width: auto;
	}

	.lg\:w-\[57\%\]{
		width: 57%;
	}

	.lg\:w-146\.5{
		width: 36.625rem;
	}

	.lg\:w-80{
		width: 20rem;
	}

	.lg\:w-200{
		width: 50rem;
	}

	.lg\:max-w-2xl{
		max-width: 42rem;
	}

	.lg\:max-w-lg{
		max-width: 32rem;
	}

	.lg\:-translate-x-10{
		--tw-translate-x: -2.5rem;
		transform: var(--tw-transform);
	}

	.lg\:translate-x-6{
		--tw-translate-x: 1.5rem;
		transform: var(--tw-transform);
	}

	.lg\:translate-y-20{
		--tw-translate-y: 5rem;
		transform: var(--tw-transform);
	}

	.lg\:-translate-x-0{
		--tw-translate-x: 0px;
		transform: var(--tw-transform);
	}

	.lg\:translate-x-20{
		--tw-translate-x: 5rem;
		transform: var(--tw-transform);
	}

	.lg\:flex-row{
		flex-direction: row;
	}

	.lg\:flex-nowrap{
		flex-wrap: nowrap;
	}

	.lg\:gap-x-15{
		grid-column-gap: 3.75rem;
		-moz-column-gap: 3.75rem;
		     column-gap: 3.75rem;
	}

	.lg\:gap-x-7\.5{
		grid-column-gap: 1.875rem;
		-moz-column-gap: 1.875rem;
		     column-gap: 1.875rem;
	}

	.lg\:gap-x-7{
		grid-column-gap: 1.75rem;
		-moz-column-gap: 1.75rem;
		     column-gap: 1.75rem;
	}

	.lg\:gap-x-10{
		grid-column-gap: 2.5rem;
		-moz-column-gap: 2.5rem;
		     column-gap: 2.5rem;
	}

	.lg\:self-center{
		align-self: center;
	}

	.lg\:bg-transparent{
		background-color: transparent;
	}

	.lg\:px-9{
		padding-left: 2.25rem;
		padding-right: 2.25rem;
	}

	.lg\:px-25{
		padding-left: 6.25rem;
		padding-right: 6.25rem;
	}

	.lg\:py-30{
		padding-top: 7.5rem;
		padding-bottom: 7.5rem;
	}

	.lg\:pl-20{
		padding-left: 5rem;
	}

	.lg\:pt-50{
		padding-top: 12.5rem;
	}
}

@media (min-width: 1280px){

	.xl\:-right-25{
		right: -6.25rem;
	}

	.xl\:-left-25{
		left: -6.25rem;
	}

	.xl\:m-auto{
		margin: auto;
	}

	.xl\:-mx-6\.625{
		margin-left: -1.65625rem;
		margin-right: -1.65625rem;
	}

	.xl\:-mx-6{
		margin-left: -1.5rem;
		margin-right: -1.5rem;
	}

	.xl\:hidden{
		display: none;
	}

	.xl\:h-\[100vh\]{
		height: 100vh;
	}

	.xl\:w-175\.5{
		width: 43.875rem;
	}

	.xl\:w-99\.5{
		width: 24.875rem;
	}

	.xl\:max-w-screen-xl{
		max-width: 1280px;
	}

	.xl\:max-w-2xl{
		max-width: 42rem;
	}

	.xl\:-translate-x-0{
		--tw-translate-x: 0px;
		transform: var(--tw-transform);
	}

	.xl\:translate-x-0{
		--tw-translate-x: 0px;
		transform: var(--tw-transform);
	}

	.xl\:gap-15{
		grid-gap: 3.75rem;
		gap: 3.75rem;
	}

	.xl\:p-15{
		padding: 3.75rem;
	}

	.xl\:p-12\.5{
		padding: 3.125rem;
	}

	.xl\:p-12{
		padding: 3rem;
	}

	.xl\:px-6\.625{
		padding-left: 1.65625rem;
		padding-right: 1.65625rem;
	}

	.xl\:px-6{
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.xl\:px-3{
		padding-left: 0.75rem;
		padding-right: 0.75rem;
	}

	.xl\:pl-6{
		padding-left: 1.5rem;
	}

	.xl\:pr-6{
		padding-right: 1.5rem;
	}
}

@media (min-width: 1536px){

	.\32xl\:right-0{
		right: 0px;
	}

	.\32xl\:left-0{
		left: 0px;
	}

	.\32xl\:w-287\.25{
		width: 69.5625rem;
	}

	.\32xl\:gap-x-25{
		grid-column-gap: 6.25rem;
		-moz-column-gap: 6.25rem;
		     column-gap: 6.25rem;
	}

	.\32xl\:gap-x-50{
		grid-column-gap: 12.5rem;
		-moz-column-gap: 12.5rem;
		     column-gap: 12.5rem;
	}

	.\32xl\:p-15{
		padding: 3.75rem;
	}
}

@media (min-width: 1600px){

	.\33xl\:h-175\.5{
		height: 43.875rem;
	}
}
