@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

@import "tailwindcss/base";

@import "site";

@import "tailwindcss/components";

@import "tailwindcss/utilities";



.layout {
  @apply xl:max-w-screen-xl lg:px-12.5 px-10 2xl:max-w-screen-2xl m-auto 2xl:px-29.5;
}



.title-112{
  @apply font-extrabold text-6xl md:text-7xl lg:text-10xl leading-none uppercase;
}

/*80px*/
.title-80{
  @apply font-extrabold text-5xl md:text-6xl xl:text-8xl leading-none uppercase;
}

/*60px*/
.title-60{
  @apply font-extrabold text-4xl xl:text-6xl leading-none uppercase;
}

h2 {
  @apply font-extrabold text-4xl xl:text-6xl leading-none uppercase;
}

/*60px*/
.title-40{
  @apply font-extrabold text-4xl leading-none uppercase;
}
/*24px*/
.title-24{
  @apply font-extrabold text-2xl leading-7.5 uppercase;
}
/*18px*/
.title-18{
  @apply font-extrabold text-lg leading-none uppercase;
}


/*10px*/
.label{
  @apply text-xxs tracking-widest leading-none uppercase;
}



/* ICON ONLY BUTTON - ORANGE */
.btn-icon{
  @apply bg-secondary flex justify-center items-center w-12.5 h-12.5 transition duration-500 ease-in-out;
}
.btn-icon svg{
  @apply text-white fill-current;
}


button.btn-icon:hover{
  @apply bg-orange;
}

/* ICON ONLY BUTTON - ORANGE */
.btn-icon-grey{
  @apply bg-palegrey flex justify-center items-center w-12.5 h-12.5 transition duration-500 ease-in-out;
}
.btn-icon-grey svg{
  @apply text-primary fill-current;
}
.btn-icon-grey:hover{
  @apply bg-primary;
}
.btn-icon-grey:hover svg{
  @apply text-white fill-current;
}


.btn{
  @apply bg-secondary relative text-sm uppercase font-semibold p-5 text-white flex justify-start gap-2.5 items-center transition duration-500 ease-in-out;
}
.btn span{
  @apply transform transition duration-500 ease-in-out leading-none;
}
.btn:hover{
  @apply bg-orange;
}

.btn svg{
  @apply text-white fill-current transform transition duration-500 ease-in-out;
}


/*HEADER*/

.header-tour-detail{
  background-color:#fff!important;
}
.header-tour-detail .logo-swap{
  @apply text-primary fill-current;
}


.header-tour-detail .mainNav a{
  @apply text-primary;
}
.header-tour-detail .mainNav a.active
{
  border-bottom: 2px solid #151E48;
}
.header-tour-detail .mainNav a:after{
  content: "";
  background-color: #151E48;
}



/*NAVIGATION*/

.mainNav a,
.footerNav a{
  @apply relative text-sm  uppercase font-semibold;
}
.mainNav .active-page{
  @apply text-secondary;
}


  .mainNav a.active,
  .footerNav a.active {
      border-bottom: 2px solid #fff;
  }

  .mainNav a:after,
  .footerNav a:after {
      content: "";
      position: absolute;
      top: 24px;
      height: 2px;
      left: 0;
      width: 100%;
      background-color: #fff;
      transform-origin: left;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  }
  .mainNav a:hover:after,
  .footerNav a:hover:after {
          -webkit-animation: scaleUp 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
                  animation: scaleUp 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
          transform: none;
  }

/*BOOKING MODAL*/

.booking-modal{
  @apply w-full md:w-110 h-screen fixed top-0 bg-white z-40 transition-all duration-500 ease-in-out;
  box-shadow: -10px 0px 60px rgba(21, 30, 72, 0.35);
  right:-100%;
}

body.open-booking .booking-modal {
  @apply right-0;
  background-image: url()
}

.label{
  @apply rounded-full bg-primary text-primary h-8 bg-opacity-5 flex items-center justify-center gap-x-1.25 p-3.5;
}




/*REVIEWS*/
/* .review-list li:last-child{
  @apply border-0;
} */

/*LIST*/
ul.general-list li {
list-style-position: outside;
list-style-type: square;
}




.company-logo{
  @apply flex justify-center items-center w-41.5 h-31.5 px-2.5 py-6;
}
.company-logo img{
  @apply filter grayscale opacity-50 m-auto max-h-full max-w-full;
}


#dropdown-icon .close,
#dropdown-icon .activeMobileNav .open,
.user-cart button{
  @apply hidden lg:block;
}

#dropdown-icon .activeMobileNav .close,
.user-cart.activeMobileNav button{
  @apply block;
}




/*FORMS*/

.hidden--visually {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*REMOVE INPUT DEFUALT APPEARANCE*/

  input[type="number"] {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
              appearance: textfield;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
  }

  .hidden--visually {
      border: 0;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  


  .floating__input {
  padding: 1.5rem 1rem 0.5rem 0rem;   
  font-size: 1rem;
  transition: border-color 0.2s ease;
  }

  .floating__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0);
  }

  .floating__input:-ms-input-placeholder{
  color: rgba(0, 0, 0, 0);
  }

  .floating__input::placeholder {
  color: rgba(0, 0, 0, 0);
  }

  .floating__label {
  display: block;
  position: relative;
  max-height: 0;
   pointer-events: none;
  }

  .floating__label::before {
  content: attr(data-content);
  display: inline-block;
  filter: blur(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-origin: left top;
  transition: transform 0.2s ease;
  left: 0rem;
  top: -10px;
  position: relative;

  }

  .text-area .floating__label::before {
      top: -75px
  }
  textarea {
      resize: none;
    }

  .floating__label::after {
  bottom: 2rem;
  content: "";
  height: 0.1rem;
  position: absolute;
  transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1),
  opacity 180ms cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s ease;
  opacity: 0;
  left: 0;
  top: 100%;
  margin-top: -0.1rem;
  transform: scale3d(0, 1, 1);
  width: 100%;

  }

  .floating__input:focus + .floating__label::after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
  }

  .floating__input:-moz-placeholder-shown + .floating__label::before {
  transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
  }

  .floating__input:-ms-input-placeholder + .floating__label::before {
  transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
  }

  .floating__input:placeholder-shown + .floating__label::before {
  transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
  }

  .floating__label::before,
  .floating__input:focus + .floating__label::before {
  transform: translate3d(0, -3.12rem, 0) scale3d(0.82, 0.82, 1);
  }



input:checked + label {
  @apply bg-primary text-white;

}
/* ADDED FOR STATAMIC */
p img {
  margin: 0 auto!important;
}

.generalText ul li {
  list-style: square!important;
}

.content-block{
  p{
    margin-bottom: 20px;
  }
  li {
    list-style: square!important;
  }
}

.vdp-datepicker{
  input{
    background-color: #ECEDF0;
    height: 50px;
    width: 150px;
    font-size: 12px;
    padding-left: 12px;
  }
}

.vdp-datepicker__calendar {
  position: absolute;
  right: 0px;
}

.ico_date{
  position: absolute;
  top: 12px;
  right: 12px;
  pointer-events: none;
}

@tailwind utilities;