<template>
  <div>
    <div class="flex justify-start items-center gap-x-2.5">
      <button @click="$emit('goback')" class="btn-icon">
        <svg
          width="16"
          height="10"
          viewBox="0 0 16 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.201 4.243L6.378 1l-.98-1L.5 5l4.898 5 .98-1-3.275-3.343H15.5V4.243H3.201z"
          />
        </svg>
      </button>
      <p class="text-sm">{{title}}</p>
    </div>

        <input
          v-model="title" 
          id="type_of_tour"
          class=" h-17.5 floating__input w-full outline-none focus:outline-none border-b border-opacity-10 border-primary focus:border-b focus:border-secondary"
          name="type_of_tour"
          type="text"
          placeholder="type_of_tour"
          hidden
        />


    <div class="mt-7.5">
      <div class="floating w-full">
        <input
          v-model="name" 
          id="name"
          class=" h-17.5 floating__input w-full outline-none focus:outline-none border-b border-opacity-10 border-primary focus:border-b focus:border-secondary"
          name="name"
          type="text"
          placeholder="Name"
          :class="isError.includes('name') ? 'required' : ''"
          @change="removeError('name')"
        />
        <label for="name" class="floating__label text-sm text-primary" data-content="Name" >
          <span class="hidden--visually">Name</span>
        </label>
      </div>

      <div class="floating w-full">
        <input
          v-model="email"
          id="email"
          class=" h-17.5 floating__input w-full outline-none focus:outline-none border-b border-opacity-10 border-primary focus:border-b focus:border-secondary"
          name="email"
          type="text"
          placeholder="Email"
          :class="isError.includes('email') ? 'required' : ''"
          @change="removeError('email')"
        />
        <label for="email" class="floating__label text-sm text-primary" data-content="Email">
          <span class="hidden--visually">Email</span>
        </label>
      </div>

      <div class="floating w-full">
        <input v-model="telephone" id="telephone" class="h-17.5 floating__input w-full outline-none focus:outline-none border-b border-opacity-10 border-primary focus:border-b focus:border-secondary" name="telephone" type="text" placeholder="Telephone"/>
        <label for="telephone" class="floating__label text-sm text-primary" data-content="Telephone">
          <span class="hidden--visually">Telephone</span>
        </label>
      </div>

      <div class="floating w-full text-area">
        <textarea
          v-model="message"
          name="message"
          id="message"
          cols="10"
          rows="3"
          placeholder="Message"
          class="floating__input w-full outline-none focus:outline-none border-b border-opacity-10 border-primary focus:border-b focus:border-secondary"
          :class="isError.includes('message') ? 'required' : ''"
          @change="removeError('message')"
        >
        </textarea>

        <label for="message" class="floating__label text-sm text-primary" data-content="Message">
          <span class="hidden--visually">Message</span>
        </label>
      </div>

      <!--Enquire Button-->
      <button @click="submitForm" class="group btn w-full justify-center mt-10 overflow-hidden">
        <svg class="absolute left-12 opacity-0 group-hover:opacity-100 group-hover:translate-x-12" width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.299 5.757L9.122 9l.98 1L15 5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z"/>
        </svg>    
        <span class="-translate-x-3 group-hover:translate-x-2 ">Enquire now</span>
        <svg class="-translate-x-2.5 group-hover:opacity-0 group-hover:translate-x-8" width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.299 5.757L9.122 9l.98 1L15 5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z"/>
          </svg>
      </button>
      <!--END OF// Enquire Button-->
      
    </div>
  </div>
</template>

<!--SCOPED CSS STYLES-->
<style scoped>
.required {
    border-color: #FF612A;
}
</style>
<script>
module.exports = {
  props: ['title'],
  data: function () {
    return {
        isError: [],
        name: '',
        email: '',
        telephone: '',
        message: '',
    };
  },
  methods: {
    removeError(value) {
        this.isError = this.isError.filter(item => item !== value)
    },
    submitForm() {
      const selected = {
        title: this.$props.title,
        name: this.name,
        email: this.email,
        telephone: this.telephone,
        message: this.message,
      }

      if(selected.name === '') {
          this.isError.push('name');
      }
      if(selected.email === '') {
          this.isError.push('email');
      }
      if(selected.message === '') {
          this.isError.push('message');
      }
      
      if(this.isError.length === 0) {
          this.$emit('enquire', selected);
      }
    },
  }
};
</script>
