
<template>
  <div>
      <h2 class="title-40 mb-5">pay now</h2>
      <p class="text-sm">Your booking of <strong>{{title}}</strong> for <strong>{{people}}</strong> people.  Please enter your card details.  You will be charged <strong>&pound;{{price}}</strong> for this transition</p>
      
      <p v-if="error" class="text-sm mt-5">There has been an error is taking your booking.  Please try again later.</p>


      <div class="mt-5 mb-5">
        <div ref="card" id="cardNumber" class="p-5 border-b border-opacity-10 border-primary"></div>
      </div>

    <div class="flex justify-between items-center mt-10">
        <div class="flex flex-col gap-y-2.5">

        </div>
        <div>
            <button @click="submit" class="group btn overflow-hidden">
                <svg class="absolute -left-5 opacity-0 group-hover:opacity-100 group-hover:translate-x-9" width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.299 5.757L9.122 9l.98 1L15 5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z"/>
                </svg>
                <span class="group-hover:translate-x-6">Pay Now</span>
                <svg class="group-hover:opacity-0 group-hover:translate-x-5" width="15" height="10"
                    viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.299 5.757L9.122 9l.98 1L15 5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z" />
                </svg>
            </button>
        </div>

    </div>




    </div>
</template>

<script>
import {loadStripe} from '@stripe/stripe-js'
import axios from "axios";

export default {
  props: ['price', 'setIsLoading', 'title', 'people', 'error'],
  async mounted(){
    this.stripe = await loadStripe('pk_live_51KChqNIQOLlaayYOLCVsYr9sYy8qtcIXGHifFzEHZT0gaqoH6IdorGbmX9uMXnFlYIZ2vdXVkUTn7iXxxzkPhb1400Re3GLkF9');
    const elements = this.stripe.elements();
    console.log(elements);
    this.card = elements.create('card');
    this.card.mount('#cardNumber');
  },
  data () {
    this.stripe = '';
    this.card = '';
  },
  methods: {
    async submit () {
      this.$emit('setisloading', true);

      let config = {
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
          Authorization: "Bearer " + "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", 
        }
      }
      const params = { 
        amount: this.price * 100, 
        currency: 'gbp',
         "payment_method_types[]": 'card'
      };
      const data = Object.keys(params).map((key) => `${key}=${encodeURIComponent(params[key])}`).join('&');
      const paymentIntent = await axios.post('https://api.stripe.com/v1/payment_intents', data, config);
      //const paymentIntent = await stripe.paymentIntents.create(params);
      const {client_secret} = paymentIntent.data;
      //const card = this.$refs.elementRef.element;

      const parent = this;

      this.stripe
        .confirmCardPayment(client_secret,{
          payment_method: { card: this.card},
          return_url: window.location.protocol + "//" + window.location.host + "/authorised"
        })
        .then(function(result) {
          // Handle result.error or result.paymentIntent
          if(result.paymentIntent) {
            parent.card.destroy(parent.$refs.card);
            parent.$emit('submitbooking', result.paymentIntent.id);
          } else {
            parent.$emit('setisloading', false);
          }
        });

    },
  }
};
</script>

