
<template>

  <div>

        <h2 class="title-40 mb-5">book tour</h2>
        <p class="text-sm">Select a Tour</p>

        <!--TOURS-->
        <div class="mt-2.5">
            <div v-for="(tour, index) in tours" :key="index" class="flex justify-between gap-x-5 py-7.5 border-b border-opacity-10 border-primary">
                <div class="w-25 h-25 flex-shrink-0">
                    <img class="object-cover h-full w-full" :src="tour.image">
                </div>
                <div class="flex-grow">
                    <strong class="title-18 block leading-5.5 mb-2.5">{{tour.title}}</strong>
                    <span class="flex gap-x-2.5 text-xs justify-start">
                        <a class="text-opacity-50" :href="tour.url" >More Details</a>
                        <button class="text-secondary" @click="$emit('selecttour', tour);">Book Now</button>
                    </span>
                </div>
            </div>
            
            <!-- ENQUIRE BUTTONS-->

            <div v-for="(enquire, index) in enquire" :key="index" class="flex justify-between gap-x-5 py-7.5 border-b border-opacity-10 border-primary">
                
                <!-- <div v-if="enquire.image" class="w-25 h-25 flex-shrink-0">
                    <img class="object-cover h-full w-full" :src="enquire.image">
                </div> -->
                <div class="flex-grow">
                    <strong class="title-18 block leading-5.5 mb-2.5">{{enquire.title}}</strong>
                    <span class="flex gap-x-2.5 text-xs justify-start">
                        <a class="text-opacity-50" :href="enquire.url" >More Details</a>
                        <button class="text-secondary" @click="$emit('enquiretour', enquire)">Enquire</button>
                    </span>
                </div>
            </div>            
            

        </div>


    </div>
</template>

<script>
module.exports = {
    props: {
        tours: Array,
        enquire: Array,
    }

};
</script>

