<template>

    <div class="mt-7.5 w-full h-full flex items-center">
            <div class="flex flex-col justify-center items-center text-center gap-y-5 text-white mb-30">

                <div 
                    class="w-25 h-25 rounded-full bg-cover bg-center relative transform opacity-0 transition-all translate-y-12 ease-out"
                    data-replace='{ "translate-y-12": "translate-y-0", "opacity-0": "opacity-100" }'
                    style="background-image:url(../assets/placeholders/thankyou.jpg)">

                </div>
                <h2 
                    class="title-40 duration-700 delay-250 relative transform opacity-0 transition-all translate-y-12 ease-out"
                    data-replace='{ "translate-y-12": "translate-y-0", "opacity-0": "opacity-100" }'
                >
                    Thanks for<br> 
                    <span class="uppercase" v-if="type === 'enquiry'">getting in touch!</span>
                    <span class="uppercase" v-if="type === 'booking'">your booking!</span>
                </h2>

                
                <div
                  class="duration-700 delay-500 relative transform transition-all opacity-0 translate-y-12 ease-out"
                  data-replace='{ "translate-y-12": "translate-y-0", "opacity-0": "opacity-100" }'
                >
                    <p class="text-sm">I Will get back to you as soon as possible. In the meantime why don’t you check out my social media channels to see what I’ve been up to.</p>
                
                    <div class="flex justify-center items-center gap-x-5 text-center mt-5">
                        <!--INSTA-->
                        <a href="#">
                            <svg class="transition duration-500 ease-in-out text-secondary fill-current  hover:text-white w-6"
                                viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18 0H6C2.7 0 0 2.7 0 6v12c0 3.3 2.7 6 6 6h12c3.3 0 6-2.7 6-6V6c0-3.3-2.7-6-6-6zm-6 17a5 5 0 110-10 5 5 0 010 10zm6.5-10a1.5 1.5 0 110-3 1.5 1.5 0 010 3z" />
                            </svg>
                        </a>
                        <!--FB-->
                        <a href="#">
                            <svg class="transition duration-500 ease-in-out text-secondary fill-current  hover:text-white w-6"
                                viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M20.484 0H3.516A3.52 3.52 0 000 3.516v16.968A3.52 3.52 0 003.516 24h7.078v-8.484H7.78v-4.22h2.813V8.439a4.223 4.223 0 014.219-4.22h4.265v4.22h-4.265v2.859h4.265l-.703 4.219h-3.563V24h5.672A3.52 3.52 0 0024 20.484V3.516A3.52 3.52 0 0020.484 0z" />
                            </svg>
                        </a>
                        <!--Twitter-->
                        
                        <a href="#">
                            <svg class="transition duration-500 ease-in-out text-secondary fill-current  hover:text-white w-6"
                                viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M24 2.544c-.9.39-1.83.66-2.82.78a4.8 4.8 0 002.16-2.73c-.96.57-2.01.96-3.12 1.2a4.923 4.923 0 00-8.52 3.36c0 .39.03.75.12 1.11-4.08-.18-7.68-2.16-10.11-5.13-1.74 3.12.21 5.7 1.5 6.57-.78 0-1.56-.24-2.22-.6 0 2.43 1.71 4.44 3.93 4.89-.48.15-1.56.24-2.22.09.63 1.95 2.46 3.39 4.59 3.42-1.68 1.32-4.14 2.37-7.29 2.04 2.19 1.41 4.77 2.22 7.56 2.22 9.06 0 13.98-7.5 13.98-13.98 0-.21 0-.42-.03-.63 1.02-.75 1.86-1.62 2.49-2.61z" />
                            </svg>
                        </a>

                    </div>
                </div>
            </div>
        </div>

</template>

<script>


module.exports = {
    props: ["type"],
    methods:{
        fadeInText: function() {
            console.log('FADE IN TEXT');
            var replacers = document.querySelectorAll('[data-replace]');
            console.log('FADE IN TEXT replacers = ', replacers);
            for(var i=0; i<replacers.length; i++){
                let replaceClasses = JSON.parse(replacers[i].dataset.replace.replace(/'/g, '"'));
                Object.keys(replaceClasses).forEach(function(key) {
                    replacers[i].classList.remove(key);
                    replacers[i].classList.add(replaceClasses[key]);
                });
            }
        }
    },
    created: function(){
        const parent = this;
        setTimeout(function(){
            parent.fadeInText();
        },500);
    }


};
</script>

