<template>
<div>
    <h2 class="title-40 mb-5">book tour</h2>
    <div class="flex justify-start items-center gap-x-2.5">
        <button @click="backButton" class="btn-icon flex-shrink-0">
            <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.201 4.243L6.378 1l-.98-1L.5 5l4.898 5 .98-1-3.275-3.343H15.5V4.243H3.201z" />
            </svg>
        </button>
        <p class="text-sm">{{title}}</p>
    </div>

    <div class="mt-7.5">
        <div 
            class="flex justify-between items-center gap-x-5 py-2.5 border-b border-opacity-10 border-primary"
            :class="isError.includes('date') ? 'required' : ''"
        >
            <div class="">
                <p class="text-sm font-semibold">Date</p>
            </div>
            <div class="relative">
                <datepicker
                    v-model="date"
                    :value="date"
                    :format="DatePickerFormat"
                    :disabledDates="disabledDates"
                    @selected="selectedTime"
                ></datepicker>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ico_date" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                </svg>
            </div>

        </div>
    </div> 
    <div 
        v-if="selectTimes.length > 0"
        class="flex justify-between items-center gap-x-5 py-2.5 border-b border-opacity-10 border-primary"
        :class="isError.includes('time') ? 'required' : ''"
    >
        <div class="">
            <p class="text-sm font-semibold">Time</p>
        </div>
        <div class="w-39">
            <div class="bg-palegrey h-12.5">
                <div class="relative w-[150px]">
                    
                 <select 
                    @change="onTimeChange($event.target.selectedIndex)"
                  class="w-full text-sm h-12.5 bg-palegrey appearance-none text-primary focus:outline-none py-2 px-4 pl-5 pr-14">
                 aria-placeholder="Select Time" name="time" v-model="time" id="time">
                    <option v-for="(row, index) in selectTimes" :key="index" :value="row">{{row}}</option>
                </select>
                        <div class="absolute inset-y-0 right-0 flex items-center justify-end pointer-events-none">
                            <svg class="mr-4" width="14" height="8" viewBox="0 0 14 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.658.111l1.06 1.06L7.002 7.89l-1.06-1.06L12.657.11z" fill="#151E48" />
                                <path d="M1.344.11L8.06 6.829 7.001 7.89.283 1.171l1.06-1.06z" fill="#151E48" />
                            </svg>
                        </div>
                </div>

            </div>
        </div>

    </div>
    <div 
        v-if="selectTimes.length > 0"
        class="flex justify-between items-center gap-x-5 py-2.5 border-b border-opacity-10 border-primary"
        :class="isError.includes('numOfPlaces') ? 'required' : ''"
    >
        <div class="">
            <p class="text-sm font-semibold">Number of Available Places</p>
        </div>
        <div class="w-39">

                    {{ availablePlaces }}

        </div>

    </div>
    <div 
        class="flex justify-between items-center gap-x-5 py-2.5 border-b border-opacity-10 border-primary"
        :class="isError.includes('people') ? 'required' : ''"
        v-if="adultPrice > 0"
    >

        <div class="flex justify-between text-sm w-full">
            <strong class="font-semibold">Adults</strong>
            <span class="flex">&pound;{{adultPrice}}</span>

        </div>

        <div class="w-38 flex-shrink-0">
            <div class="h-12.5 flex justify-between">
                <button class="btn-icon-grey flex-shrink-0" v-bind:class="[adultQty == 0 ? 'opacity-20 cursor-not-allowed' : '']" @click="decreaseAdultQty">
                    <svg width="12" height="2" viewBox="0 0 12 2" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M.25.25h11.5v1.5H.25z" />
                    </svg>
                </button>
                <input
                    class="bg-palegrey text-sm border-l border-white border-r max-x-max w-12.5 appearance-none focus:outline-none text-center focus:text-black flex items-center text-primary  outline-none"
                    name="custom-input-number" :value="adultQty || 0" >
                <button class="btn-icon-grey flex-shrink-0" @click="increaseAdultQty">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.25.25h1.5v11.5h-1.5V.25z" />
                        <path d="M.25 5.25h11.5v1.5H.25v-1.5z" />
                    </svg>
                </button>
            </div>
        </div>

    </div>
    <div
        class="flex justify-between items-center gap-x-5 py-2.5 border-b border-opacity-10 border-primary"
        :class="isError.includes('people') ? 'required' : ''"
        v-if="age8to13Price > 0"
    >

        <div class="flex justify-between text-sm w-full">
            <strong class="font-semibold">Age 8-13</strong>
            <span class="flex">&pound;{{age8to13Price}}</span>
        </div>

        <div class="w-38 flex-shrink-0">
            <div class="h-12.5 flex justify-between">
                <button class="btn-icon-grey flex-shrink-0" v-bind:class="[age8to13Qty == 0 ? 'opacity-20 cursor-not-allowed' : '']" @click="decreaseAge8to13Qty">
                    <svg width="12" height="2" viewBox="0 0 12 2" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M.25.25h11.5v1.5H.25z" />
                    </svg>
                </button>
                <input
                    class="bg-palegrey text-sm border-l border-white border-r max-x-max w-12.5 appearance-none focus:outline-none text-center focus:text-black flex items-center text-primary  outline-none"
                    name="custom-input-number" :value="age8to13Qty || 0">
                <button class="btn-icon-grey flex-shrink-0" @click="increaseAge8to13Qty">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.25.25h1.5v11.5h-1.5V.25z" />
                        <path d="M.25 5.25h11.5v1.5H.25v-1.5z" />
                    </svg>
                </button>
            </div>
        </div>

    </div>

    <div
        class="flex justify-between items-center gap-x-5 py-2.5 border-b border-opacity-10 border-primary"
        :class="isError.includes('people') ? 'required' : ''"
        v-if="Under5Price != 'disable'"
    >

        <div class="flex justify-between text-sm w-full">
            <strong class="font-semibold">Under 5s</strong>
            <span class="flex" v-if="Under5Price == '0'">Free</span>
            <span class="flex" v-if="Under5Price != '0'">&pound;{{Under5Price}}</span>
        </div>

        <div class="w-38 flex-shrink-0">
            <div class="h-12.5 flex justify-between">
                <button class="btn-icon-grey flex-shrink-0" v-bind:class="[under5Qty == 0 ? 'opacity-20 cursor-not-allowed' : '']" @click="decreaseUnder5Qty" >
                    <svg width="12" height="2" viewBox="0 0 12 2" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M.25.25h11.5v1.5H.25z" />
                    </svg>
                </button>
                <input
                    class="bg-palegrey text-sm border-l border-white border-r max-x-max w-12.5 appearance-none focus:outline-none text-center focus:text-black flex items-center text-primary  outline-none"
                    name="custom-input-number" :value="under5Qty || 0">
                <button class="btn-icon-grey flex-shrink-0" @click="increaseUnder5Qty">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.25.25h1.5v11.5h-1.5V.25z" />
                        <path d="M.25 5.25h11.5v1.5H.25v-1.5z" />
                    </svg>
                </button>
            </div>
        </div>

    </div>

    <div
        class="flex justify-between items-center gap-x-5 py-2.5 border-b border-opacity-10 border-primary"
        :class="isError.includes('people') ? 'required' : ''"
        v-if="familyOf4Price > 0"
    >

        <div class="flex justify-between text-sm w-full">
            <strong class="font-semibold">Family of 4</strong>
            <span class="flex">&pound;{{familyOf4Price}}</span>

        </div>

        <div class="w-38 flex-shrink-0">
            <div class="h-12.5 flex justify-between">
                <button class="btn-icon-grey  flex-shrink-0" v-bind:class="[familyOf4Qty == 0 ? 'opacity-20 cursor-not-allowed' : '']" @click="decreaseFamilyof4Qty">
                    <svg width="12" height="2" viewBox="0 0 12 2" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M.25.25h11.5v1.5H.25z" />
                    </svg>
                </button>
                <input
                    class="bg-palegrey text-sm border-l border-white border-r max-x-max w-12.5 appearance-none focus:outline-none text-center focus:text-black flex items-center text-primary  outline-none"
                    name="custom-input-number" :value="familyOf4Qty || 0">
                    
                <button class="btn-icon-grey flex-shrink-0" @click="increaseFamilyof4Qty">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.25.25h1.5v11.5h-1.5V.25z" />
                        <path d="M.25 5.25h11.5v1.5H.25v-1.5z" />
                    </svg>
                </button>

            </div>
        </div>

    </div>

    <div v-if="privatePrice > 0" class="flex justify-between items-center gap-x-5 py-2.5 border-b border-opacity-10 border-primary">
        <div class="text-sm w-full">
            <strong class="font-semibold">Private Tour (max 8 people) </strong>
        </div>
        <div class="w-12.5 h-12.5 flex-shrink-0 bg-palegrey relative">
                <input @click="isPrivateTour" v-model="privateTour" class="privateCheckbox cursor-pointer w-12.5 h-12.5 bg-palegrey border-none" type="checkbox">
                <p class="checkboxTick text-4xl absolute top-3 left-3 hidden">&check;</p>
        </div>
    </div>

    <div class="floating w-full">
        <input 
            id="name" v-model="name"
            class="h-17.5 floating__input w-full outline-none focus:outline-none border-b border-opacity-10 border-primary focus:border-b focus:border-secondary"
            name="name" type="text" placeholder="Name"
            :class="isError.includes('name') ? 'required' : ''"
            @change="removeError('name')"
            >
        <label for="name" class="floating__label text-sm text-primary "
            data-content="Name">
            <span class="hidden--visually">Name</span>
        </label>
    </div>

    <div class="floating w-full">
        <input
            id="email" 
            v-model="email"
            class="h-17.5 floating__input w-full outline-none focus:outline-none border-b border-opacity-10 border-primary focus:border-b focus:border-secondary"
            name="email"
            type="text"
            placeholder="Email"
            :class="isError.includes('email') ? 'required' : ''"
            @change="removeError('email')"
        />
        <label for="email" class="floating__label text-sm text-primary "
            data-content="Email">
            <span class="hidden--visually">Email</span>
        </label>
    </div>

    <div class="flex justify-between items-center mt-10">
        <div class="flex flex-col gap-y-2.5">
            <span  class="text-sm block leading-none">People {{ totalPeople }}</span>
            <span class="text-lg font-sm block leading-none font-semibold">Total £{{ totalPrice }}</span>
        </div>
        <div>
            <button @click="bookNow" class="group btn overflow-hidden">
                <svg class="absolute -left-5 opacity-0 group-hover:opacity-100 group-hover:translate-x-9" width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.299 5.757L9.122 9l.98 1L15 5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z"/>
                </svg>
                <span class="group-hover:translate-x-6">Book now</span>
                <svg class="group-hover:opacity-0 group-hover:translate-x-5" width="15" height="10"
                    viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.299 5.757L9.122 9l.98 1L15 5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z" />
                </svg>
            </button>
        </div>

    </div>


</div>

</template>

<!--SCOPED CSS STYLES-->
<style scoped>
.vdp-datepicker {
   
}


.privateCheckbox {
    overflow: hidden; 
    background: #ECEDF0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    transition: all 0.5s ease-out;
}

.privateCheckbox:hover {
    background: #202D6C;
}

.privateCheckbox:checked:after {
    font-size: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    content: "✔";
    color: #FF612A;
}
.required {
    border-color: #FF612A;
}
</style>

<script>

function isInArray(array, value) {
  return (array.find(item => {return item == value}) || []).length > 0;
}

function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;

    return [year, month, day].join('-');
}

function getDaysArray(start, end) {
    for(var arr=[],dt=new Date(start); dt<=end; dt.setDate(dt.getDate()+1)){
        arr.push(new Date(dt));
    }
    return arr;
};

function addDays(date, days) {
  var result = new Date(date);
  result.setDate(result.getDate() + days);
  return result;
}

import Datepicker from "vuejs-datepicker";

export default {
    components: { Datepicker },
    props: ['title', 'price', 'tour_id'],
    data: function () {
        return {
            
            isError: [],

            name: null,
            email: null,
            date: "",
            time: "",

            adultQty: 0,
            adultPrice: 0,
            
            age8to13Qty: 0,
            age8to13Price: 0,

            familyOf4Qty: 0,
            familyOf4Price: 0,

            under5Qty: 0,

            totalPeople: 0,
            totalPrice: 0,

            privateTour: false,
            privatePrice: 0,

            DatePickerFormat: "dd/MM/yyyy",
            disabledDates: { },
            selectTimes: [],
            availablePlaces: 0,
            availablePlacesOptions: [],

        };
    },

        

        methods: {
            onTimeChange(index) {
                this.availablePlaces = this.availablePlacesOptions[index];
            },
            removeError(value) {
                this.isError = this.isError.filter(item => item !== value)
            },
            backButton() {
                this.$emit('goback');
            },
            selectedTime(value) {
                this.selectTimes = [];
                this.availablePlaces = 0;
                this.availablePlacesOptions = [];

                var availableDates = this.availableDates;
                var timeSlots = [];
                var formattedValue = value.toISOString().split('T')[0];
                var availablePlacesOptions = [];
                availableDates.filter((row) => {
                    var date = new Date(row.date).toISOString().split('T')[0];
                    var number_of_places = Number.parseInt(row.number_of_places);
                    if((formattedValue === date) && (number_of_places > 0)) {
                        var time = row.time;
                        timeSlots.push(time);
                        availablePlacesOptions.push(number_of_places);
                    }
                });
                this.selectTimes = timeSlots;
                this.date = formattedValue;
                this.time = timeSlots[0];
                this.availablePlacesOptions = availablePlacesOptions;
                this.availablePlaces = this.availablePlacesOptions[0];
                 if(this.totalPeople > this.availablePlaces) {
                        this.isError.push('numOfPlaces');
                    } else {
                        this.removeError('numOfPlaces');
                    }

            },
            bookNow() {
                const selected = {
                    tour_id: this.$props.tour_id,
                    title: this.$props.title,
                    selectedDate: (this.date !== '') ? new Date(this.date).toISOString().split('T')[0] : '',
                    selectedTime: this.time,
                    name: this.name,
                    email: this.email,
                    adults: this.adultQty,
                    age8to13: this.age8to13Qty,
                    under5s: this.under5Qty,
                    family4: this.familyOf4Qty,
                    privateTour: (this.privateTour === true) ? 'Yes' : 'No',
                    people: this.totalPeople,
                    cost: this.totalPrice,
                }

                if((selected.selectedDate === null) || selected.selectedDate === '') {
                    this.isError.push('date');
                }
                if(selected.name === null) {
                    this.isError.push('name');
                }
                if(selected.email === null) {
                    this.isError.push('email');
                }
                if(selected.people === 0) {
                    this.isError.push('people');
                }

                if(selected.people > this.availablePlaces) {
                    this.isError.push('numOfPlaces');
                }

                
                if(this.isError.length === 0) {
                   this.$emit('selected', selected);
                }

            },
            isPrivateTour() {
                let isPrivateTour = this.privateTour = !this.privateTour;
                
                if ( isPrivateTour == true) {
                    this.adultQty = 0
                    this.age8to13Qty = 0
                    this.familyOf4Qty = 0
                    this.under5Qty = 0

                    this.totalPeople = 8;
                    this.totalPrice = this.totalPeople * (this.privatePrice / 8);
                } else {
                    this.totalPeople = 0;
                    this.totalPrice = 0;
                }
                
                 if(this.totalPeople > this.availablePlaces) {
                    this.isError.push('numOfPlaces');
                } else {
                    this.removeError('numOfPlaces');
                }

            },

            increaseAdultQty() {
                this.removeError('people');
                this.adultQty++ 
                this.totalPeople = this.adultQty + this.age8to13Qty + this.under5Qty + this.familyOf4Qty * 4;
                let totalAdultPrice = this.adultPrice * this.adultQty;
                let totalage8to13Price = this.age8to13Price * this.age8to13Qty;
                let totalfamilyOf4Price = this.familyOf4Price * this.familyOf4Qty;

                this.totalPrice = totalAdultPrice + totalage8to13Price + totalfamilyOf4Price;
                
                this.privateTour = false;


                if(this.totalPeople > this.availablePlaces) {
                    this.isError.push('numOfPlaces');
                } else {
                    this.removeError('numOfPlaces');
                }

            },
            decreaseAdultQty() {
                if (this.adultQty < 1) {
                    //alert("Negative quantity not allowed");
                } else {
                    this.adultQty--
                    this.totalPeople = this.adultQty + this.age8to13Qty + this.under5Qty + this.familyOf4Qty * 4;
                    let totalAdultPrice = this.adultPrice * this.adultQty;
                    let totalage8to13Price = this.age8to13Price * this.age8to13Qty;
                    let totalfamilyOf4Price = this.familyOf4Price * this.familyOf4Qty;

                    this.totalPrice = totalAdultPrice + totalage8to13Price + totalfamilyOf4Price;

                    if(this.totalPeople > this.availablePlaces) {
                        this.isError.push('numOfPlaces');
                    } else {
                        this.removeError('numOfPlaces');
                    }
                }
            },

            increaseAge8to13Qty() {
                this.removeError('people');
                this.age8to13Qty++ 
                this.totalPeople = this.adultQty + this.age8to13Qty + this.under5Qty + this.familyOf4Qty * 4;
                let totalAdultPrice = this.adultPrice * this.adultQty;
                let totalage8to13Price = this.age8to13Price * this.age8to13Qty;
                let totalfamilyOf4Price = this.familyOf4Price * this.familyOf4Qty;

                this.totalPrice = totalAdultPrice + totalage8to13Price + totalfamilyOf4Price;

                this.privateTour = false;

                if(this.totalPeople > this.availablePlaces) {
                    this.isError.push('numOfPlaces');
                } else {
                    this.removeError('numOfPlaces');
                }
            },

            decreaseAge8to13Qty() {
                if (this.age8to13Qty < 1) {
                   // alert("Negative quantity not allowed");
                } else {
                    this.age8to13Qty-- 
                    this.totalPeople = this.adultQty + this.age8to13Qty + this.under5Qty + this.familyOf4Qty * 4;
                    let totalAdultPrice = this.adultPrice * this.adultQty;
                    let totalage8to13Price = this.age8to13Price * this.age8to13Qty;
                    let totalfamilyOf4Price = this.familyOf4Price * this.familyOf4Qty;

                    this.totalPrice = totalAdultPrice + totalage8to13Price + totalfamilyOf4Price;
                
                    if(this.totalPeople > this.availablePlaces) {
                        this.isError.push('numOfPlaces');
                    } else {
                        this.removeError('numOfPlaces');
                    }
                }
            },

            increaseUnder5Qty() {
                this.removeError('people');
                this.under5Qty++ 
                this.totalPeople = this.adultQty + this.age8to13Qty + this.under5Qty + this.familyOf4Qty * 4;

                this.privateTour = false;

                if(this.totalPeople > this.availablePlaces) {
                    this.isError.push('numOfPlaces');
                } else {
                    this.removeError('numOfPlaces');
                }
            },

            decreaseUnder5Qty() {
                if (this.under5Qty < 1) {
                    //alert("Negative quantity not allowed");
                } else {
                    this.under5Qty-- 
                    this.totalPeople = this.adultQty + this.age8to13Qty + this.under5Qty + this.familyOf4Qty * 4;
                    if(this.totalPeople > this.availablePlaces) {
                        this.isError.push('numOfPlaces');
                    } else {
                        this.removeError('numOfPlaces');
                    }
                }
            },

            increaseFamilyof4Qty() {
                this.removeError('people');
                this.familyOf4Qty++ 
                this.totalPeople = this.adultQty + this.age8to13Qty + this.under5Qty + this.familyOf4Qty * 4;
                let totalAdultPrice = this.adultPrice * this.adultQty;
                let totalage8to13Price = this.age8to13Price * this.age8to13Qty;
                let totalfamilyOf4Price = this.familyOf4Price * this.familyOf4Qty;

                this.totalPrice = totalAdultPrice + totalage8to13Price + totalfamilyOf4Price;

                this.privateTour = false;

                if(this.totalPeople > this.availablePlaces) {
                        this.isError.push('numOfPlaces');
                    } else {
                        this.removeError('numOfPlaces');
                    }
            },

            decreaseFamilyof4Qty() {
                if (this.familyOf4Qty < 1) {
                    //alert("Negative quantity not allowed");
                } else {
                    this.familyOf4Qty-- 
                    this.totalPeople = this.adultQty + this.age8to13Qty + this.under5Qty + this.familyOf4Qty * 4;
                    let totalAdultPrice = this.adultPrice * this.adultQty;
                    let totalage8to13Price = this.age8to13Price * this.age8to13Qty;
                    let totalfamilyOf4Price = this.familyOf4Price * this.familyOf4Qty;

                    this.totalPrice = totalAdultPrice + totalage8to13Price + totalfamilyOf4Price;

                    if(this.totalPeople > this.availablePlaces) {
                        this.isError.push('numOfPlaces');
                    } else {
                        this.removeError('numOfPlaces');
                    }
                }
            },
            formatDateNew(dt) {
                
                var d = new Date(dt),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;

                return [year, month, day].join('-');
            },

            minDate() {
                const array = this.availableDates.map(item => {
                    item = new Date(item.date);
                    return item;
                });

                Array.prototype.min = function() {
                    return Math.min.apply(null, this);
                };

                const minDate = new Date();
                return minDate;
            },
            maxDate() {
                const array = this.availableDates.map(item => {
                    item = new Date(item.date);
                    return item;
                });

                Array.prototype.max = function() {
                    return Math.max.apply(null, this);
                };

                const maxDate = new Date(array.max());
                return addDays(maxDate, 1);
            },
            datesunavailable(){
                var unavailable = [];
                var daylist = getDaysArray(this.minDate(), this.maxDate());
                var availableDates = this.availableDates;

                var formattedAvailableDates = [];
                availableDates.forEach(function(value) {
                    let tmp = new Date(value.date).toISOString().split('T')[0];
                    let number_of_places = value.number_of_places;
                    if(number_of_places > 0) {
                        formattedAvailableDates.push(tmp);
                    }
                })

                daylist.forEach(function(value) {
                    let tmp = new Date(value).toISOString().split('T')[0];
                    let check = isInArray(formattedAvailableDates, tmp);
                    if(check === false) {
                        unavailable.push(new Date(value));
                    }

                });

                return unavailable;
            
        }

        },

    created: function () {
        const price = this.$props.price;

        this.adultPrice = price.adult;
        this.Under5Price = price.childUnder5;
        this.age8to13Price = price.childAge8to13;
        this.familyOf4Price = price.familyOf4;
        this.privatePrice = price.private;
        this.availableDates = price.available;

        // set disabled dates
        this.disabledDates.to = this.minDate();
        this.disabledDates.from = this.maxDate();
        this.disabledDates.dates = this.datesunavailable();

    },
};
</script>

