
<div class="layout">

  <div class="pt-20">
    <div class="flex flex-col md:flex-row md:flex-wrap gap-y-10 md:gap-y-20 md:-mx-3 xl:-mx-6.625">
      
      {{ nav:collection:tours }}
      <div class="card group">
        <div class="flex flex-col gap-y-5">
          <a href="{{ url }}" class="h-110 relative overflow-hidden flex items-center justify-center">
            <img class="group-hover:scale-125" src="{{ featured_image }}">
          </a>
          <a href="{{ url }}"
            class="title-24 group-hover:text-secondary transition-all duration-500 ease-in-out transform mt-2.5">{{ title }}</a>

          <ul>

            {{ if include_time }}
            <li
              class="label rounded-full bg-primary text-primary h-8 bg-opacity-5 flex items-center justify-center gap-x-1.25 p-3.5">
              <img src="assets/placeholders/icons/time.svg">
              {{ time }}
            </li>
            {{ /if }}

            {{ if include_miles }}
            <li class="label">
              <img src="assets/placeholders/icons/miles.svg">
              {{ miles }}
            </li>
            {{ /if }}


            {{ if is_family_friendly }}
            <li class="label">
              <img src="assets/placeholders/icons/family-friendly.svg">
              family friendly
            </li>
            {{ /if }}


            {{ if is_pram_and_wheelchair_friendly }}
            <li class="label">
              <img src="assets/placeholders/icons/pram-wheelchairs.svg">
              pram & wheelchair friendly
            </li>
            {{ /if }}

            {{ if is_adults_only }}
            <li class="label">
              <img src="assets/placeholders/icons/adults.svg">
              Adults only
            </li>
            {{ /if }}


          </ul>

        </div>
      </div>
      {{ /nav:collection:tours }}

      
      
    </div>
  </div>

</div>

