
<div class="pb-15 pt-7.5 md:pt-0 border">
  <div class="layout">
    <div class="max-w-5xl xl:px-3 m-auto mt-40">
      <div class="flex flex-col justify-center items-center text-center gap-y-5 text-primary ">
        <h1 class="title-80">{{ title }}</h1>

        <p class="leading-8 lg:px-25">{{title_subtext}}</p>


        <ul class="tour-details flex-wrap flex flex-row justify-center">

          {{ if time }}
          <li class="label mx-1 mb-2">
            <img src="../assets/placeholders/icons/time.svg">
            {{ time }}
          </li>
          {{ /if }}

          {{ if miles }}
          <li class="label mx-1 mb-2">
            <img src="../assets/placeholders/icons/miles.svg">
            {{ miles }}
          </li>
          {{ /if }}

          {{ if is_family_friendly }}
          <li class="label mx-1 mb-2">
            <img src="../assets/placeholders/icons/family-friendly.svg">
            Family friendly
          </li>
          {{ /if }}


          {{ if is_pram_and_wheelchair_friendly }}
          <li class="label mx-1 mb-2">
            <img src="../assets/placeholders/icons/pram-wheelchairs.svg">
            Pram & wheelchair friendly
          </li>
          {{ /if }}

          {{ if is_adults_only }}
          <li class="label mx-1 mb-2">
            <img src="../assets/placeholders/icons/adults.svg">
            Adults only
          </li>
          {{ /if }}


        </ul>


        <button @click="if(isBookingOpen === true) { isBookingOpen = false; } window.book.isLoaded = true; isBookingOpen = true;" class="group btn mt-5 overflow-hidden">
          <svg class="absolute -left-5 opacity-0 group-hover:opacity-100 group-hover:translate-x-9" width="15"
            height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.299 5.757L9.122 9l.98 1L15 5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z" />
          </svg>
          <span class="group-hover:translate-x-6">Book Now</span>
          <svg class="group-hover:opacity-0 group-hover:translate-x-5" width="15" height="10" viewBox="0 0 15 10"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.299 5.757L9.122 9l.98 1L15 5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z" />
          </svg>
        </button>



      </div>
    </div>
  </div>
</div>
{{ if featured_image || other_images}}
<div class="w-full relative h-160">


  <div class="absolute bottom-7.5 right-7.5 z-10">
    <div class="slick-controls w-25 flex">


      <button class="btn-icon next-gallery-item">
        <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.201 4.243L6.378 1l-.98-1L.5 5l4.898 5 .98-1-3.275-3.343H15.5V4.243H3.201z" />
        </svg>
      </button>

      <button class="btn-icon prev-gallery-item">
        <svg width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.299 6.257L9.122 9.5l.98 1L15 5.5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z" />
        </svg>
      </button>
    </div>
  </div>

  <div class="gallery-slider">

    {{ featured_image }}
    <div>
      <div class="w-full h-160 bg-cover bg-center" style="background-image: url({{ glide:url width="1600" height="700" }})">
      </div>
    </div>
    {{ /featured_image }}

    {{ other_images }}
    <div>
      <div class="w-full h-160 bg-cover bg-center" style="background-image: url({{ glide:url width="1600" height="700" }})">
      </div>
    </div>
    {{ /other_images }}


    
  </div>

</div>
{{/if}}
<div class="layout pb-30">
  <div class="flex flex-col justify-between gap-y-7.5 lg:flex-row lg:gap-x-10 2xl:gap-x-50 pt-20">

    <div class="xl:w-175.5">
      <h2 class="title-60 mb-10">{{body_large_text}}</h2>
      <div class="text-sm leading-6 content-block">
        {{ body_subtext }}
      </div>
    </div>

    {{ if include_pricing }}
    <div class="w-full lg:w-80 xl:w-99.5  flex-shrink-0">
      <div class="p-7.5 xl:p-12.5 bg-paleorange">

        <h2 class="title-40">pricing</h2>



        <ul class="flex flex-col gap-y-5 my-7.5">
          {{ if adults_price}}
          <li class="text-sm">
            <strong class="block mb-1 uppercase">adults</strong>
            £{{ adults_price }}
          </li>
          {{ /if }}
          {{ if children_age_8_to_13_price}}
          <li class="text-sm">
            <strong class="block mb-1 uppercase">children age 8-13</strong>
            £{{ children_age_8_to_13_price }}
          </li>
          {{ /if }}
          {{ if children_under_5_price}}
          <li class="text-sm">
            <strong class="block mb-1 uppercase">children under 5</strong>
            £{{ children_under_5_price }}
          </li>
          {{ /if }}
          {{ if family_of_4}}
          <li class="text-sm">
            <strong class="block mb-1 uppercase">family of 4</strong>
            £{{ family_of_4 }}
          </li>
          {{ /if }}
          {{ if private_groups_max_8_people}}
          <li class="text-sm">
            <strong class="block mb-1 uppercase">private groups (max 8 people)</strong>
            £{{ private_groups_max_8_people }}
          </li>
          {{ /if }}
        </ul>

        <!--BUTTON WITH FULL WIDTH-->
        <button @click="isBookingOpen = true" class="group btn w-full justify-center overflow-hidden">
          <svg class="absolute left-10 opacity-0 group-hover:opacity-100 group-hover:translate-x-10" width="15"
            height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.299 5.757L9.122 9l.98 1L15 5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z" />
          </svg>
          <span class="-translate-x-3 group-hover:translate-x-2 ">Book Now</span>
          <svg class="-translate-x-2.5 group-hover:opacity-0 group-hover:translate-x-8" width="15" height="10"
            viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.299 5.757L9.122 9l.98 1L15 5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z" />
          </svg>
        </button>

      </div>
    </div>
    {{ else }}
    <div class="w-full lg:w-80 xl:w-99.5  flex-shrink-0">
      <div class="p-7.5 xl:p-12.5 bg-paleorange">

        <h2 class="title-40">Enquire</h2>
        <p class="text-sm leading-6 my-8">Get in touch to enquire about our options.</p>

        <!--BUTTON WITH FULL WIDTH-->
        <button @click="if(isBookingOpen == true) { isBookingOpen = false } window.book.selected.title = '{{title}}'; window.book.step = 4; window.book.isLoading = false; isBookingOpen = true;" class="group btn w-full justify-center overflow-hidden">
          <svg class="absolute left-10 opacity-0 group-hover:opacity-100 group-hover:translate-x-10" width="15"
            height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.299 5.757L9.122 9l.98 1L15 5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z" />
          </svg>
          <span class="-translate-x-3 group-hover:translate-x-2 ">Enquire</span>
          <svg class="-translate-x-2.5 group-hover:opacity-0 group-hover:translate-x-8" width="15" height="10"
            viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.299 5.757L9.122 9l.98 1L15 5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z" />
          </svg>
        </button>

      </div>
    </div>
    {{ /if }}


  </div>
</div>
{{ if accordion }}
<div class="layout pb-30">
  <div class="bg-white w-full lg:w-200 m-auto" x-data="{selected:null}">
    <div class="flex flex-col gap-y-2.5">

      {{ accordion }}
      <div class="relative group p-5 bg-palegrey">

        <button type="button" class="w-full text-left " @click="selected !== {{ index }} ? selected = {{ index }} : selected = null">
          <div class="flex items-center justify-between md:pl-7.5">
            <h3 class="title-24">{{ title }}</h3>
            <span x-bind:class="selected == 1 ? 'rotate-180 ' : ''" class="transform">
              <span class="w-12.5 h-12.5 flex items-center justify-center bg-primary">
                <svg class="text-white fill-current" width="10" height="16" viewBox="0 0 10 16" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.757 12.799L9 9.622l1 .98L5 15.5l-5-4.899 1-.98 3.343 3.276V.5h1.414v12.299z" />
                </svg>
              </span>
            </span>
          </div> 
        </button>

        <div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container{{ index }}"
          x-bind:style="selected == {{ index }} ? 'max-height: ' + $refs.container{{ index }}.scrollHeight + 'px' : ''">
          <div class="md:px-7.5 py-2.5 text-sm">
            <ul class="general-list leading-6 flex flex-col gap-y-2.5 ml-3 ">
              {{ text }}
            </ul>
          </div>
        </div>

      </div>
      {{ /accordion }}


    </div>
  </div>
</div>
{{ /if }}
<!--MEETING POINT-->
{{ if include_meeting_point }}
<div class="layout pb-30">

  <div class="relative md:h-140 flex flex-col ">

    <div class="md:w-80 xl:w-99.5 relative z-10 md:h-140 flex items-center">
      <div class="p-8 xl:p-12.5 bg-paleorange flex flex-col gap-y-7.5">
        <h2 class="title-40">meeting point</h2>
        <div class="flex flex-row gap-x-2.5 items-center text-sm">
          <span class="w-20 h-20 rounded-full bg-cover bg-center block relative overflow-hidden bg-no-repeat"
            style="background-image: url({{ meeting_point_picture }})">
          </span>
          <div class="w-2/3">
            {{ meeting_point_name }}
          </div>
        </div>
        <a class="group btn w-full justify-center overflow-hidden" href="https://what3words.com/{{ what_3_words_1 }}.{{ what_3_words_2 }}.{{ what_3_words_3 }}?satellite=true"
        target="_blank">
          <svg class="absolute -left-5 opacity-0 group-hover:opacity-100 group-hover:translate-x-14" width="15"
            height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.299 5.757L9.122 9l.98 1L15 5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z" />
          </svg>
          <span class="-translate-x-3 group-hover:translate-x-2 ">open in maps</span>
          <svg class="-translate-x-2.5 group-hover:opacity-0 group-hover:translate-x-8" width="15" height="10"
            viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.299 5.757L9.122 9l.98 1L15 5l-4.899-5-.98 1 3.276 3.343H0v1.414h12.299z" />
          </svg>
        </a>
      </div>
    </div>
    <div class="md:absolute h-80 md:h-140 top-0 right-0 md:w-4/5 2xl:w-287.25 overflow-hidden">
      <div class="relative object-cover w-full h-full">
        

          <div id="map" style="height: 100%;" class=""></div>

          <div id="locations-data" >
            {"locations": [
              {"what_3_words_1": "{{what_3_words_1}}", 
              "what_3_words_2": "{{what_3_words_2}}",
              "what_3_words_3": "{{what_3_words_3}}"},

              {"what_3_words_1": "", 
              "what_3_words_2": "", 
              "what_3_words_3": ""}
            ]}
          </div>


          <script>

            var locations = [];
            var markerCluster;

            var json_data = $('#locations-data').html();
            var json_obj = JSON.parse(json_data);
            locations = json_obj.locations;



            for (const row in locations) {
              let selected = locations[row];

              if (selected.what_3_words_1 !== '') {

                var W3W = selected.what_3_words_1 + '.' + selected.what_3_words_2 + '.' + selected.what_3_words_3;

                what3words.api.autosuggest(W3W, {
                  nFocusResults: 1,
                  clipToCountry: ["GB", "IE"],
                  nResults: 1
                })
                  .then(function (response) {
                    var words = response.suggestions[0].words;
                    

                    what3words.api.convertToCoordinates(words).then(function (response) {

                      let map = new google.maps.Map(document.getElementById("map"), {
                        center: { lat: response.coordinates.lat, lng: response.coordinates.lng },
                        zoom: 19,
                        styles: [
                        {
                            "featureType": "administrative",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "saturation": "-100"
                                }
                            ]
                        },
                        {
                            "featureType": "administrative.province",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "landscape",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "saturation": -100
                                },
                                {
                                    "lightness": 65
                                },
                                {
                                    "visibility": "on"
                                }
                            ]
                        },
                        {
                            "featureType": "landscape.man_made",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "on"
                                }
                            ]
                        },
                        {
                            "featureType": "landscape.man_made",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "lightness": "45"
                                },
                                {
                                    "gamma": "3.10"
                                }
                            ]
                        },
                        {
                            "featureType": "landscape.man_made",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "color": "#ffffff"
                                }
                            ]
                        },
                        {
                            "featureType": "landscape.man_made",
                            "elementType": "geometry.stroke",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "lightness": "11"
                                },
                                {
                                    "weight": "1.00"
                                },
                                {
                                    "color": "#c4c3c3"
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "saturation": -100
                                },
                                {
                                    "lightness": "50"
                                },
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "color": "#771818"
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "geometry.stroke",
                            "stylers": [
                                {
                                    "color": "#ff0000"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.attraction",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "on"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.attraction",
                            "elementType": "labels.text",
                            "stylers": [
                                {
                                    "visibility": "on"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.attraction",
                            "elementType": "labels.icon",
                            "stylers": [
                                {
                                    "visibility": "on"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.business",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "visibility": "on"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.business",
                            "elementType": "labels.icon",
                            "stylers": [
                                {
                                    "visibility": "on"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.park",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "color": "#d5f1d9"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.place_of_worship",
                            "elementType": "labels",
                            "stylers": [
                                {
                                    "visibility": "on"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.place_of_worship",
                            "elementType": "labels.text",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "hue": "#ff4200"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.place_of_worship",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "hue": "#ff4200"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.place_of_worship",
                            "elementType": "labels.text.stroke",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "hue": "#ff4200"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.place_of_worship",
                            "elementType": "labels.icon",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "hue": "#ff4200"
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "saturation": "-100"
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "color": "#ff9c7a"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "simplified"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "color": "#ff9c7a"
                                },
                                {
                                    "visibility": "on"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway.controlled_access",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "color": "#ff9c7a"
                                }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "lightness": "30"
                                }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "color": "#ff9c7a"
                                }
                            ]
                        },
                        {
                            "featureType": "road.local",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "lightness": "40"
                                }, 
                            ]
                        },
                        {
                            "featureType": "road.local",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "color": "#ff9c7a"
                                }
                            ]
                        },
                        {
                            "featureType": "road.local",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "color": "#ffffff"
                                }
                            ]
                        },
                        {
                            "featureType": "road.local",
                            "elementType": "labels.text.stroke",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "transit",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "saturation": -100
                                },
                                {
                                    "visibility": "simplified"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "lightness": "-68"
                                },
                                {
                                    "saturation": -97
                                },
                                {
                                    "color": "#2a8fff"
                                },
                                {
                                    "gamma": "5.18"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "labels",
                            "stylers": [
                                {
                                    "lightness": -25
                                },
                                {
                                    "saturation": -100
                                }
                            ]
                        }
                    ]
                      });

                      const mapIcon = {
                        url: "../assets/placeholders/icons/mapMarker.svg",
                        scaledSize: new google.maps.Size(40, 50)
        
                      };

                      new google.maps.Marker({
                        position: { lat: response.coordinates.lat, lng: response.coordinates.lng },
                        map,
                        title: "",
                        animation: google.maps.Animation.DROP,
                        icon: mapIcon,

                      });

                    });

                  })
                  .catch(function (error) {
                    console.log("[code]", error.code);
                    console.log("[message]", error.message);
                  });
              }


            }

          </script>

      </div>
    </div>

  </div>
</div>
{{ /if }}
<!--END OF// MEETING POINT-->


{{ if include_covid_banner }}
{{ partial:components/covidBanner }}
{{ /if }}


<script type="text/javascript">

  $(document).ready(function () {

      $('.gallery-slider').slick({
          dots: false,
          infinite: true,
          speed: 800,
          autoplay: true,
          slidesToShow: 1,
          slidesToScroll: 1,
          fade: true,
          nextArrow: '.next-gallery-item',
          prevArrow: '.prev-gallery-item'


      });
  });
</script>